{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/new_profile.css' %}" />
{% endblock %}

{% block content %}
{% with spanish="spanish" english="english" french="french" german="german" italian="italian" japanese="japanese" chinese="chinese" russian="russian" korean="korean" portuguese="portuguese" arabic="arabic" dutch="dutch" swedish="swedish" norwegian="norwegian" turkish="turkish" polish="polish" irish="irish" greek="greek" hebrew="hebrew" danish="danish" hindi="hindi" czech="czech" esperanto="esperanto" ukranian="ukranian" welsh="welsh" vietnamese="vietnamese" hungarian="hungarian" swahili="swahili" romanian="romanian" indonesian="indonesian" finnish="finnish" bengali="bengali" %}

<!-- profile container left column  -->
<div id="profile-container-left-column">

  <!-- profile info box -->
  <div id="profile-info-box">
    <div id="profile-info-box-top-part">
      <div id="profile-info-box-top-part-left-side">
        {% if other_basic_user_profile.profile_photo %}
          <div id="profile-photo" style="background-image: url('{{ other_basic_user_profile.profile_photo.url }}');"></div>
        {% else %}
          <div id="profile-photo" style="background-image: url('{% static 'anon/anon-profile-photo.png' %}');"></div>
        {% endif %}
      </div>
      <div id="profile-info-box-top-part-right-side">
        <h1>{{ other_basic_user_profile.full_name }}</h1>
        <h3>@{{ other_basic_user_profile.user.username }}</h3>
        {% if other_basic_user_profile.location %}
          <p><span class="fa fa-map-marker"></span>{{ other_basic_user_profile.location }}</p>
        {% endif %}

        {% if other_basic_user_profile.personal_url %}
          <a target="_blank" href="{{other_basic_user_profile.personal_url}}"><span class="fa fa-link"></span>{{ other_basic_user_profile.personal_url }}</a>
        {% endif %}
      </div>
    </div>
    <p id="profile-bio">
      <!-- max char : 450 -->
      {{ other_basic_user_profile.bio|truncatechars:450 }}
    </p>
  </div>
</div>

<!-- profile contianer right column -->
<div id="profile-container-right-column">

  <!-- languages box -->
  <div id="languages-box">
      <h1>Languages</h1>
      <!-- DAILY STREAK
      <p id="profile-daily-streak-p"><span class="fa fa-star"></span> 150</p>
      -->
      <div id="langauges-box-scrolling-part">
        <!--<button class="active-language-box"><div id="language-flag"></div><span id="course-name">French</span><span id="language-level">LVL 85</span></button>-->

        {% for student in all_student_profiles %}
        {% if student.course %}
        <a href="{% url 'other_user_profile_overview' student.basic_user_profile.user.username student.course.course_language student.course.course_speakers_language %}" id="languages-box-link">

          <button {% if student == current_student_profile %} class="active-language-box" {% endif %}>
            {% if student.course.course_language == spanish %}
              <div id="language-flag" style="background-image: url('{% static 'flags/spanish.png' %}');"></div>
            {% elif student.course.course_language == english  %}
              <div id="language-flag" style="background-image: url({% static 'flags/english.png' %});"></div>
            {% elif student.course.course_language == french %}
              <div id="language-flag" style="background-image: url({% static 'flags/french.png' %});"></div>
            {% elif student.course.course_language == german %}
              <div id="language-flag" style="background-image: url({% static 'flags/german.png' %});"></div>
            {% elif student.course.course_language == italian %}
              <div id="language-flag" style="background-image: url({% static 'flags/italian.png' %});"></div>
            {% elif student.course.course_language == japanese %}
              <div id="language-flag" style="background-image: url({% static 'flags/japanese.png' %});"></div>
            {% elif student.course.course_language == chinese %}
              <div id="language-flag" style="background-image: url({% static 'flags/chinese.png' %});"></div>
            {% elif student.course.course_language == russian %}
              <div id="language-flag" style="background-image: url({% static 'flags/russian.png' %});"></div>
            {% elif student.course.course_language == korean %}
              <div id="language-flag" style="background-image: url({% static 'flags/korean.png' %});"></div>
            {% elif student.course.course_language == portuguese %}
              <div id="language-flag" style="background-image: url({% static 'flags/portuguese.png' %});"></div>
            {% elif student.course.course_language == arabic %}
              <div id="language-flag" style="background-image: url({% static 'flags/arabic.png' %});"></div>
            {% elif student.course.course_language == dutch %}
              <div id="language-flag" style="background-image: url({% static 'flags/dutch.png' %});"></div>
            {% elif student.course.course_language == swedish %}
              <div id="language-flag" style="background-image: url({% static 'flags/swedish.png' %});"></div>
            {% elif student.course.course_language == norwegian %}
              <div id="language-flag" style="background-image: url({% static 'flags/norwegian.png' %});"></div>
            {% elif student.course.course_language == turkish %}
              <div id="language-flag" style="background-image: url({% static 'flags/turkish.png' %});"></div>
            {% elif student.course.course_language == polish %}
              <div id="language-flag" style="background-image: url({% static 'flags/polish.png' %});"></div>
            {% elif student.course.course_language == irish %}
              <div id="language-flag" style="background-image: url({% static 'flags/irish.png' %});"></div>
            {% elif student.course.course_language == greek %}
              <div id="language-flag" style="background-image: url({% static 'flags/greek.png' %});"></div>
            {% elif student.course.course_language == hebrew %}
              <div id="language-flag" style="background-image: url({% static 'flags/hebrew.png' %});"></div>
            {% elif student.course.course_language == danish %}
              <div id="language-flag" style="background-image: url({% static 'flags/danish.png' %});"></div>
            {% elif student.course.course_language == hindi %}
              <div id="language-flag" style="background-image: url({% static 'flags/hindi.png' %});"></div>
            {% elif student.course.course_language == czech %}
              <div id="language-flag" style="background-image: url({% static 'flags/czech.png' %});"></div>
            {% elif student.course.course_language == esperanto %}
              <div id="language-flag" style="background-image: url({% static 'flags/esperanto.png' %});"></div>
            {% elif student.course.course_language == ukranian %}
              <div id="language-flag" style="background-image: url({% static 'flags/ukranian.png' %});"></div>
            {% elif student.course.course_language == welsh %}
              <div id="language-flag" style="background-image: url({% static 'flags/welsh.png' %});"></div>
            {% elif student.course.course_language == vietnamese %}
              <div id="language-flag" style="background-image: url({% static 'flags/vietnamese.png' %});"></div>
            {% elif student.course.course_language == hungarian %}
              <div id="language-flag" style="background-image: url({% static 'flags/hungarian.png' %});"></div>
            {% elif student.course.course_language == swahili %}
              <div id="language-flag" style="background-image: url({% static 'flags/swahili.png' %});"></div>
            {% elif student.course.course_language == romanian %}
              <div id="language-flag" style="background-image: url({% static 'flags/romanian.png' %});"></div>
            {% elif student.course.course_language == indonesian %}
              <div id="language-flag" style="background-image: url({% static 'flags/indonesian.png' %});"></div>
            {% elif student.course.course_language == finnish %}
              <div id="language-flag" style="background-image: url({% static 'flags/finnish.png' %});"></div>
            {% elif student.course.course_language == bengali %}
              <div id="language-flag" style="background-image: url({% static 'flags/bengali.png' %});"></div>
            {% else %}
              <div id="language-flag" style="background-image: url('');"></div>
            {% endif %}
            <span id="course-name">{{ student.course.course_language|title }}</span>
            <span id="language-level">LVL {{ student.level }}</span>
          </button>
        </a>
        {% endif %}
        {% endfor %}

      </div>
  </div>
</div>

<!-- langauge progress-part -->
<div id="language-progress-part">

  {% if current_student_profile.course.course_language == spanish %}
    <div id="language-progress-flag" style="background-image: url('{% static 'flags/spanish.png' %}');"></div>
  {% elif current_student_profile.course.course_language == english  %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/english.png' %});"></div>
  {% elif current_student_profile.course.course_language == french %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/french.png' %});"></div>
  {% elif current_student_profile.course.course_language == german %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/german.png' %});"></div>
  {% elif current_student_profile.course.course_language == italian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/italian.png' %});"></div>
  {% elif current_student_profile.course.course_language == japanese %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/japanese.png' %});"></div>
  {% elif current_student_profile.course.course_language == chinese %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/chinese.png' %});"></div>
  {% elif current_student_profile.course.course_language == russian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/russian.png' %});"></div>
  {% elif current_student_profile.course.course_language == korean %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/korean.png' %});"></div>
  {% elif current_student_profile.course.course_language == portuguese %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/portuguese.png' %});"></div>
  {% elif current_student_profile.course.course_language == arabic %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/arabic.png' %});"></div>
  {% elif current_student_profile.course.course_language == dutch %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/dutch.png' %});"></div>
  {% elif current_student_profile.course.course_language == swedish %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/swedish.png' %});"></div>
  {% elif current_student_profile.course.course_language == norwegian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/norwegian.png' %});"></div>
  {% elif current_student_profile.course.course_language == turkish %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/turkish.png' %});"></div>
  {% elif current_student_profile.course.course_language == polish %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/polish.png' %});"></div>
  {% elif current_student_profile.course.course_language == irish %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/irish.png' %});"></div>
  {% elif current_student_profile.course.course_language == greek %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/greek.png' %});"></div>
  {% elif current_student_profile.course.course_language == hebrew %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/hebrew.png' %});"></div>
  {% elif current_student_profile.course.course_language == danish %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/danish.png' %});"></div>
  {% elif current_student_profile.course.course_language == hindi %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/hindi.png' %});"></div>
  {% elif current_student_profile.course.course_language == czech %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/czech.png' %});"></div>
  {% elif current_student_profile.course.course_language == esperanto %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/esperanto.png' %});"></div>
  {% elif current_student_profile.course.course_language == ukranian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/ukranian.png' %});"></div>
  {% elif current_student_profile.course.course_language == welsh %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/welsh.png' %});"></div>
  {% elif current_student_profile.course.course_language == vietnamese %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/vietnamese.png' %});"></div>
  {% elif current_student_profile.course.course_language == hungarian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/hungarian.png' %});"></div>
  {% elif current_student_profile.course.course_language == swahili %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/swahili.png' %});"></div>
  {% elif current_student_profile.course.course_language == romanian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/romanian.png' %});"></div>
  {% elif current_student_profile.course.course_language == indonesian %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/indonesian.png' %});"></div>
  {% elif current_student_profile.course.course_language == finnish %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/finnish.png' %});"></div>
  {% elif current_student_profile.course.course_language == bengali %}
    <div id="language-progress-flag" style="background-image: url({% static 'flags/bengali.png' %});"></div>
  {% else %}
    <div id="language-progress-flag" style="background-image: url('');"></div>
  {% endif %}

  <h1>{{ current_student_profile.course.course_language|title }} <span>(from {{ current_student_profile.course.course_speakers_language|title }})</span></h1>

  <br />

  <div id="level-box">
    <h3>Level: {{ current_student_profile.level }}</h3>
    <h4>XP: {{ current_student_profile.xp }} </h4>
  </div>

  <div id="words-learned-box">
    <h3>Vocab</h3>
    <h4>{{ current_words_learned }}</h4>
  </div>

  <div id="forum-posts-box">
    <h3>Forum Posts</h3>
    <h4>{{ current_forum_posts }}</h4>
  </div>

  <div id="bill-posts-box">
    <h3>Bill Votes</h3>
    <h4>{{ current_bill_votes }}</h4>
  </div>
</div>



<!-- user stats grid -->
<div id="user-stats-grid">
  <p><b>{{ amount_of_lessons_done }}</b> lessons done this year ({{ current_year }})</p>

  <!-- month -->
  <div id="months-of-grid">
    <p>Jan</p>
    <p>Feb</p>
    <p>Mar</p>
    <p>Apr</p>
    <p>May</p>
    <p>Jun</p>
    <p>Jul</p>
    <p>Aug</p>
    <p>Sep</p>
    <p>Oct</p>
    <p>Nov</p>
    <p>Dec</p>
  </div>

  <div id="grid">
    <div id="days-of-grid-column">
      <p>Mon</p>
      <p>Tue</p>
      <p>Wed</p>
      <p>Thu</p>
      <p>Fri</p>
      <p>Sat</p>
      <p>Sun</p>
    </div>

    <div id="grid-column">

      <!--
      <div id="grid-cell-box"></div>
      <div id="grid-cell-box" class="grid-cell-above-1"></div>
      <div id="grid-cell-box" class="grid-cell-above-3"></div>
      <div id="grid-cell-box" class="grid-cell-above-5"></div>
      <div id="grid-cell-box" class="grid-cell-above-10"></div>
      -->
    </div>

    <script>
      let grid = document.getElementById("grid");
      let current_year = {{ current_year }}
      current_year = String(current_year);
      let dom_track_records = {{ dom_track_records|safe }}

      // DOM Data Structure: tracking contrib box
      function Box(date, amount) {
        this.date = date;
        this.amount = amount;

        this.get_date = function() {
          return this.date;
        }
        this.get_amount = function() {
          return this.amount;
        }
        this.set_date = function(new_date) {
          this.date = new_date;
        }
        this.set_amount = function(new_amount) {
          this.amount = new_amount;
        }
        this.get_dom_box = function() {
          if (this.amount < 1 || this.amount == 0) {
            return `<div id="grid-cell-box"></div>`
          }
          else if (this.amount >= 1 && this.amount < 3) {
            return `<div id="grid-cell-box" class="grid-cell-above-1"></div>`
          }
          else if (this.amount >= 3 && this.amount < 5) {
            return `<div id="grid-cell-box" class="grid-cell-above-3"></div>`
          }
          else if (this.amount >= 5 && this.amount < 10) {
            return `<div id="grid-cell-box" class="grid-cell-above-5"></div>`
          }
          else if (this.amount >= 10) {
            return `<div id="grid-cell-box" class="grid-cell-above-10"></div>`
          }
          else {
            return `<div id="grid-cell-box"></div>`
          }
        }
      }

      // single grid column
      function GridColumn(n1, n2, n3, n4, n5, n6, n7) {
        this.n1 = n1;
        this.n2 = n2;
        this.n3 = n3;
        this.n4 = n4;
        this.n5 = n5;
        this.n6 = n6;
        this.n7 = n7;

        this.get_column = function() {
          return `
            <div id="grid-column">
              ${this.n1}
              ${this.n2}
              ${this.n3}
              ${this.n4}
              ${this.n5}
              ${this.n6}
              ${this.n7}
            </div>
          `;
        }
      }

      // get all of the empty 365 day boxes
      // see if the date is already in the server boxes, if it is
      // update its color (Amount while constructing the js object)
      box_array = []

      current_day = 1
      current_month = 1

      for (let i=1; i <= 365; i++) {

        // build the date of the box
        final_date = current_year + "-";

        if (current_month < 10) {
          final_date += "0" + String(current_month) + "-";
        } else {
          final_date += String(current_month) + "-";
        }

        if (current_day < 10) {
          final_date += "0" + String(current_day);
        } else {
          final_date += String(current_day);
        }

        // update the date and month state of the boxes
        if (current_day >= 30) {
          current_day = 0;
          current_month++;
        }
        current_day++;

        box_array.push(new Box(final_date, 0));
      }

      // loop through all boxes and see if they match the server track data
      // if they do update its record to the js DOM box
      for (let i = 0; i < box_array.length; i++) {

        current_box = box_array[i];
        box_date = box_array[i].get_date();

        for (let j =0; j < Object.keys(dom_track_records).length; j++) {
          let key = Object.keys(dom_track_records)[j]

          if (key == box_date) {
            current_box.set_amount(dom_track_records[key])
          }
        }
      }

      // get 52 weeks (column) of the year (create the columns)
      columns_array = []

      for (let i=0; i <= 363; i += 7) {
        columns_array.push(new GridColumn(
          box_array[i].get_dom_box(),
          box_array[i+1].get_dom_box(),
          box_array[i+2].get_dom_box(),
          box_array[i+3].get_dom_box(),
          box_array[i+4].get_dom_box(),
          box_array[i+5].get_dom_box(),
          box_array[i+6].get_dom_box(),
        ));
      }

      // update the dom grid
      for (let i=0; i < columns_array.length; i++) {
        grid.innerHTML += columns_array[i].get_column();
      }

    </script>

  </div> <!-- /grid -->

  <div id="grid-info">
    <div id="grid-cell-box"></div> <p>0</p>
    <div id="grid-cell-box" class="grid-cell-above-1"></div> <p>1+</p>
    <div id="grid-cell-box" class="grid-cell-above-3"></div> <p>3+</p>
    <div id="grid-cell-box" class="grid-cell-above-5"></div> <p>5+</p>
    <div id="grid-cell-box" class="grid-cell-above-10"></div> <p>10+</p>
  </div>

</div>

{% endwith %}
{% endblock %}
