{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_voting_sys/read_bill.css' %}" />
{% endblock %}

{% block content %}

<!-- bill read info -->
<div id="bill-read-container">


  {% if current_bill.sponsor == current_basic_user_profile %}
  <button id="hidden-post-operation-buttons"><span class="fa fa-ellipsis-v"></span></button>
  <div id="hidden-post-buttons-panel-close-box">
    <button id="hidden-post-operations-buttons-close"><span class="fa fa-close"></span></button>
  </div>

    <div id="hidden-post-buttons-panel">
      <a href="{% url 'basic_update_bill' current_bill.id %}">Update</a>
      <a href="" id="delete_panel_open_btn">Delete</a>
    </div>

    <script>
      let hidden_buttons_panel = document.getElementById("hidden-post-buttons-panel");
      let hidden_buttons_panel_top_part = document.getElementById("hidden-post-buttons-panel-close-box");
      let panel_open_button = document.getElementById("hidden-post-operation-buttons");
      let panel_close_button = document.getElementById("hidden-post-operations-buttons-close")

      panel_open_button.onclick = function () {
        hidden_buttons_panel.style.display = "block";
        hidden_buttons_panel_top_part.style.display = "block";
      }

      panel_close_button.onclick = function () {
        hidden_buttons_panel.style.display = "none";
        hidden_buttons_panel_top_part.style.display = "none";
      }
    </script>
  {% endif %}

  <!-- Hidden Delete Request Panel -->
  <div id="background-greying-for-hidden-delete-panel"></div>
  <div id="hidden-delete-panel">
    <h1>Bill Delete Request</h1>
    <p>
      <b>Warning:</b> If there is a vote on your bill you cannot disregard it and delete the bill.
    </p>
    <form method="POST" action="{% url 'basic_read_bill' current_bill.id %}">
        {% csrf_token %}
        <input type="submit" value="Request" name="basic_voting_bill_delete_request_submit_btn" />
    </form>
    <button id="delete_panel_close_btn">Cancel</button>
  </div>

  <script>
    let open_button = document.getElementById("delete_panel_open_btn");
    let close_button = document.getElementById("delete_panel_close_btn");
    let hidden_delete_panel = document.getElementById("hidden-delete-panel");
    let hidden_bg_greying = document.getElementById("background-greying-for-hidden-delete-panel")

    // open
    open_button.onclick = function(event) {
      event.preventDefault();
      hidden_delete_panel.style.display = "block";
      hidden_bg_greying.style.display = "block";
    }

    // close
    close_button.onclick = function(event) {
      event.preventDefault();
      hidden_delete_panel.style.display = "none";
      hidden_bg_greying.style.display = "none";
    }
  </script>

  <div id="bill-meta-info-box">
    <p>CREATED IN {{ current_bill.creation_date|upper }}</p>
    <h2>{{ current_bill.status|title }}</h2>
    <h1>Bill {{ current_bill.id }}</h1>
    <p>THIS BILL IS SPONSORED BY <a href="{% url 'other_user_profile_overview' current_bill.sponsor.user.username %}">{{ current_bill.sponsor.user.username|upper }}</a></p>
  </div>

  <div id="bill-horizontal-line"></div>

  <div id="bill-info">
    <h2>{{ current_bill.title|title }}</h2>
    <p>
     {{ current_bill.content|linebreaks }}
    </p>
  </div>
</div>

<!-- bill edit history -->
<div id="bill-edit-history">

  {% if current_bill_history_empty == True %}

  {% else %}
    <h2>Update History</h2>
  {% endif %}

  {% for history_record in current_bill_history %}
    <div id="edit-history-cell">
      <h3>Discard Date: {{ history_record.creation_date }}</h3>
      <h1>{{ history_record.title|title }}</h1>
      <p>{{ history_record.content|linebreaks }}</p>
    </div>
    <span class="fa fa-circle"></span>
  {% endfor %}

</div>

<!-- bill vote operations -->
<div id="vote-operations-container">

  {% if current_user_vote == None %}

  {% elif current_user_vote.vote == "aye" %}
    <p id="vote-operations-your-vote"><b>Your vote:</b> <span class="fa fa-circle" style="color:#27AE60;"></span> Aye</p>
  {% elif current_user_vote.vote == "neutral" %}
    <p id="vote-operations-your-vote"><b>Your vote:</b> <span class="fa fa-circle" style="color:grey;"></span> Neutral</p>
  {% elif current_user_vote.vote == "nay" %}
    <p id="vote-operations-your-vote"><b>Your vote:</b> <span class="fa fa-circle" style="color:#E3102E;"></span> Nay</p>
  {% endif %}

  <div class="vote-box" id="aye-box">
    <h3 id="aye-h3">Aye</h3>
    <span id="aye-span" class="fa fa-check"></span>
  </div>
  <div class="vote-box" id="neutral-box">
    <h3 id="neutral-h3">Neutral</h3>
    <span id="neutral-span" class="fa fa-bars"></span>
  </div>
  <div class="vote-box" id='nay-box'>
    <h3 id="nay-h3">Nay</h3>
    <span id="nay-span" class="fa fa-close"></span>
  </div>

  <form id="basic-bill-vote-form" method="POST" action="{% url 'basic_read_bill' current_bill.id %}">
    {% csrf_token %}
    <input type="hidden" id="vote-form-hidden-input" name="hidden_vote_value" />
    <input type="submit" value="Vote" name="basic_voting_bill_vote_submit_button" />
  </form>
</div>

<script>
  let aye_box = document.getElementById("aye-box");
  let neutral_box = document.getElementById("neutral-box");
  let nay_box = document.getElementById("nay-box");

  let vote_form_hidden_input = document.getElementById("vote-form-hidden-input");

  // neutral box operations
  neutral_box.onclick = function() {
    vote_form_hidden_input.value = "neutral";

    neutral_box.classList.add("neutral-box-active");
    aye_box.classList.remove("aye-box-active");
    nay_box.classList.remove("nay-box-active");
  }

  // aye box operations
  aye_box.onclick = function() {
    vote_form_hidden_input.value = "aye";

    aye_box.classList.add("aye-box-active");
    neutral_box.classList.remove("neutral-box-active");
    nay_box.classList.remove("nay-box-active");
  }

  // nay box operations
  nay_box.onclick = function() {
    vote_form_hidden_input.value = "nay";

    nay_box.classList.add("nay-box-active");
    aye_box.classList.remove("aye-box-active");
    neutral_box.classList.remove("neutral-box-active");
  }
</script>

<!-- bill votes -->
<div id="bill-vote-stats-container">
  <h2>Voting Statistics</h2>

  <div id="stat-numbers">
    <p>
        <b>Aye:</b> {{ aye_amount }} <b>Neutral:</b> {{ neutral_amount }} <b>Nay:</b> {{ nay_amount }}
    </p>
  </div>


  <div class="voting-stats-column" id="aye-column">
    <h4>Aye</h4>
    {% for vote in current_bill_aye_votes %}
      <p><a href="{% url 'other_user_profile_overview' vote.voter.user.username %}"><span class="fa fa-circle"></span> {{ vote.voter.user.username }}</a></p>
    {% endfor %}
  </div>
  <div class="voting-stats-column" id="neutral-column">
    <h4>Neutral</h4>
    {% for vote in current_bill_neutral_votes %}
      <p><a href="{% url 'other_user_profile_overview' vote.voter.user.username %}"><span class="fa fa-circle"></span> {{ vote.voter.user.username }}</a></p>
    {% endfor %}
  </div>
  <div class="voting-stats-column" id="nay-column">
    <h4>Nay</h4>
    {% for vote in current_bill_nay_votes %}
      <p><a href="{% url 'other_user_profile_overview' vote.voter.user.username %}"><span class="fa fa-circle"></span> {{ vote.voter.user.username }}</a></p>
    {% endfor %}
  </div>
</div>

{% endblock %}
