{% extends 'landing_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/about/about.css' %}" />
{% endblock %}

{% block content %}
<!-- about navigation links -->
<div id="about-navigation-links">
  <a href="{% url 'about' %}">About Us</a>
  <a href="{% url 'about_community_rules' %}" >Community Rules</a>
  <a href="{% url 'about_terms' %}">Terms and Agreements</a>
  <a href="{% url 'about_privacy' %}" id="about-navigation-links-active">Privacy Policy</a>
</div>

<!-- content -->
<div id="about-content">
  <h2>Privacy Policy</h2>
  <p>
    At Domingo, one of our main priorities is the privacy of our visitors.
    This Privacy Policy document contains types of information that is
    collected and recorded by Domingo and how we use it.
  </p>

  <h3>Information Obtained by Third Parties</h3>
  <p>
      To support and enhance the Service, we work with a variety of third party
      advertising networks, marketing analytics service providers and website
      analysis firms, such as Google (“Third Party Advertising Service Providers”).
      These Third Party Advertising Service Providers collect and use personal
      data about your visits to and use of the Website and mobile Application,
      as well as other websites in order to serve you with advertisements and
      content tailored to meet your preferences and likely interests or better
      understand ad effectiveness. Aggregate demographic and interest data will
      also be used for market research purposes.

      <Br />
      <br />

      We use Google Analytics which is a web analytics tool that helps us
      understand how users engage with the Website. Like many services, Google
      Analytics uses first-party cookies to track user interactions as in our
      case, where they are used to collect information about how users use our
      site. This information is used to compile reports and to help us improve
      our Website. The reports disclose website trends without identifying
      individual visitors. You can opt out of Google Analytics without affecting
      how you visit our site – for more information on opting out of being
      tracked by Google Analytics across all websites you use, visit this
      Google page: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.

      <br />
      <br />

      You can opt-out of receiving personalized ads from advertisers and ad
      networks that are members of the Network Advertising Initiative (“NAI”)
      or who follow the DAA Self-Regulatory Principles for Online Behavioral
      Advertising using their respective opt-out tools. The NAI's opt-out tool
      can be found here <a href="http://www.networkadvertising.org/choices/">http://www.networkadvertising.org/choices/</a> and the DAA's
      opt out tool can be found here <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>.

      <br />
      <br />

      In addition, your mobile devices may offer settings that enable you to
      make choices about the collection, use, or transfer of mobile app
      information for online behavioral advertising (for example, Apple iOS’
      Advertising ID and Google Android’s Advertising ID). Please note that
      opting out does not prevent the display of all advertisements to you.
  </p>

  <h3>Information security</h3>
  <p>
    Domingo has implemented administrative and technical safeguards it
    believes are appropriate to protect the confidentiality, integrity and
    availability of your personal data, Testing ID, User Photo, access
    credentials. However, given sufficient
    resources, a determined attacker could defeat those safeguards and may, as
    a result, gain access to the data we seek to protect.
  </p>


  <h3>Log Files</h3>
  <p>
    Domingo follows a standard procedure of using log files. These files log
    visitors when they visit websites. All hosting companies do this and a
    part of hosting services' analytics. The information collected by log files
    include internet protocol (IP) addresses, browser type, Internet Service
    Provider (ISP), date and time stamp, referring/exit pages, and possibly
    the number of clicks. These are not linked to any information that is
    personally identifiable. The purpose of the information is for analyzing
    trends, administering the site, tracking users' movement on
    the website, and gathering demographic information.
  </p>

  <h3>Children's Information</h3>
  <p>
    Another part of our priority is adding protection for children while using
    the internet. We encourage parents and guardians to observe, participate
    in, and/or monitor and guide their online activity.
    <br />
    <br />
    Domingo does not knowingly collect any Personal Identifiable Information
    from children under the age of 13. If you think that your child provided
    this kind of information on our website, we strongly encourage you to
    contact us immediately and we will do our best efforts to promptly remove
    such information from our records.
  </p>

  <h3>Consent</h3>
  <p>
    By using our website, you hereby consent to our Privacy Policy.
  </p>

  <br />
  <p>
      Last revised on November 15th, 2020
  </p>
</div>

<!-- footer -->
<div id="footer">
  <div id="footer-grid-part-1">
    <p>Created by - <a target="_blank" href="https://twitter.com/Demir99antay" id="red-span">Demir Antay</a></p>
  </div >
  <div id="footer-grid-part-2">
    <p>About</p>
    <div id="grid-links">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'about_community_rules' %}">Community Rules</a>
      <a href="{% url 'about_terms' %}">Terms and Agreements</a>
      <a href="{% url 'about_privacy' %}">Privacy Policy</a>
    </div>
  </div>
  <div id="footer-grid-part-3">
    <p>Social</p>
    <div id="grid-links">
      <a href="https://twitter.com/getdomingo" target="_blank">Twitter</a>
      <a href="https://www.reddit.com/r/DomingoApp/" target="_blank">Reddit</a>
    </div>
  </div>
</div>


{% endblock %}
