{% extends 'teacher_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_profile/overview.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
{% endblock %}

{% block content %}

<!-- profile information -->
<div id="profile-information">
  <div id="profile-information-left-part">
    {% if other_user_teacher_profile.profile_photo %}
      <div id="profile-image" style="background-image: url('{{ other_user_teacher_profile.profile_photo.url }}');"></div>
    {% else %}
      <div id="profile-image" style="background-image: url('');"></div>
    {% endif %}

  </div>
  <div id="profile-information-right-part">
    <h1>{{ other_user_teacher_profile.first_name }} {{ other_user_teacher_profile.last_name }}</h1>
    <h3>@{{ other_basic_user.username }}</h3>
    <!-- max char limit: -->
    <p>
      {{ other_user_teacher_profile.bio }}
    </p>
    <a href="{{ other_user_teacher_profile.personal_url }}" target="_blank">{{ other_user_teacher_profile.personal_url }}</a>
  </div>
</div>

<!-- under construction banner -->
<div id="under-construction-banner">
  <h1><span class="fa fa-lock"></span></h1>
  <p>
    This part is under construction.
  </p>
</div>

<!-- footer -->
<div id="footer">
  <div id="footer-grid-part-1">
    <p>Created by - <a target="_blank" href="https://twitter.com/Demir99antay" id="red-span">Demir Antay</a></p>
  </div >
  <div id="footer-grid-part-2">
    <p>About</p>
    <div id="grid-links">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'about_community_rules' %}">Community Rules</a>
      <a href="{% url 'about_terms' %}">Terms and Agreements</a>
      <a href="{% url 'about_privacy' %}">Privacy Policy</a>
    </div>
  </div>
  <div id="footer-grid-part-3">
    <p>Social</p>
    <div id="grid-links">
      <a href="https://twitter.com/getdomingo" target="_blank">Twitter</a>
      <a href="https://www.reddit.com/r/DomingoApp/" target="_blank">Reddit</a>
    </div>
  </div>
</div>

{% endblock %}
