{% extends 'teacher_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_profile/overview.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
{% endblock %}

{% block content %}

<!-- profile information -->
<div id="profile-information">
  <div id="profile-information-left-part">
    {% if other_user_teacher_profile.profile_photo %}
      <div id="profile-image" style="background-image: url('{{ other_user_teacher_profile.profile_photo.url }}');"></div>
    {% else %}
      <div id="profile-image" style="background-image: url('');"></div>
    {% endif %}

  </div>
  <div id="profile-information-right-part">
    <h1>{{ other_user_teacher_profile.first_name }} {{ other_user_teacher_profile.last_name }}</h1>
    <h3>@{{ other_basic_user.username }}</h3>
    <!-- max char limit: -->
    <p>
      {{ other_user_teacher_profile.bio }}
    </p>
    <a href="{{ other_user_teacher_profile.personal_url }}" target="_blank">{{ other_user_teacher_profile.personal_url }}</a>
  </div>
</div>

<!-- under construction banner -->
<div id="under-construction-banner">
  <h1><span class="fa fa-lock"></span></h1>
  <p>
    This part is under construction.
  </p>
</div>

{% endblock %}
