{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_settings/profile_settings.css' %}" />
{% endblock %}

{% block content %}

<!-- settings navigation links -->
<div id="settings-nav">
  <a href="{% url 'profile_settings_edit_profile' %}" id="settings-nav-link-active">Edit Profile</a>
  <a href="{% url 'profile_settings_change_password' %}">Change Password</a>
  <a href="{% url 'profile_settings_email_sms' %}">Email and SMS</a>
</div>

<!-- edit profile -->
<div id="profile-settings-container">

  <form>

    <!-- if the profile images input is empty just enter this previews value to it -->

    <div id="settings-profile-photo-preview-container">
      <div id="settings-profile-photo-preview-container-left-part">
        <div id="settings-profile-photo-preview"></div>
      </div>
      <div id="settings-profile-photo-preview-container-right-part">
        <label id="profile-photo-label" for="profile-photo"><span class="fa fa-plus"></span> Change profile photo</label>
      </div>
    </div>
    <input type="file" id="profile-photo" class="hidden-profile-photo-input" />

    <script>
      let photo_preview = document.getElementById("settings-profile-photo-preview");
      let uploaded_photo = document.getElementById("profile-photo");

      //photo_preview.style.backgroundImage = 'url("{% static 'branding/profile_photo.jpg' %}")';

      uploaded_photo.onchange = function() {
        photo_preview.style.backgroundImage = "url('"+ window.URL.createObjectURL(this.files[0]) +"')";
        photo_preview.style.backgroundColor= "#EAEDED";
      }
    </script>


    <label>Full Name</label>
    <input type="text" placeholder="ex. Joe Smith" />

    <label>Username</label>
    <input type="text" placeholder="ex. useranme" />

    <label>Email</label>
    <input type="text" placeholder="ex. email@example.com" />

    <label>About</label>
    <textarea placeholder="Tell a bit about yourself"></textarea>

    <label>Location</label>
    <input type="text" placeholder="ex. New York" />

    <label>Personal Link</label>
    <input type="text" placeholder="Add your personal link" />

    <input type="submit" value="save" id="profile-settings-submit-btn" />

  </form>

</div>


{% endblock %}
