{% extends 'landing_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home/landing_page.css' %}" />
{% endblock %}

{% block content %}
<!-- header -->
<div id="top-nav">
  <a href="{% url 'index' %}"><img src="{% static 'branding/logo.png' %}" alt="logo"/></a>
  <div id="top-nav-links">
    <a href="#features" >Features</a>
    <a href="https://www.reddit.com/r/lingooapp/" target="_blank">Reddit</a>
    <a href="https://twitter.com/lingooapp" target="_blank">Twitter</a>
  </div>
</div>

<!-- greeting banner -->
<div id="banner">
  <h1><span id="red-span">Community</span> Based Language Learning</h1>
  <p>
    Join our community where we learn languages by interacting with the people of the community instead of just memorizing.
    Our mission is to teach languages starting from A1 to C1 level.
  </p>
  <a href="{% url 'under_construction' %}" id="signup-signup-button">JOIN THE COMMUNITY</a>
  <a href="{% url 'under_construction' %}" id="signup-login-button">I ALREADY HAVE AN ACCOUNT</a>
</div>

<!-- features -->
<!--
    for now just put some buttons and a little text next to it but in the future add
    screen shots of the application in a slide show of, home page, profile, the best pits
-->
<div id="features" style="background-image:url('{% static 'placeholder/placeholder-feature.png' %}')">

</div>
<div id="lock-symbol">
  <p><span class="fa fa-lock"></span> Feature's are currently under construction!</p>
</div>

<!-- join twitter reddit community buttons -->
<div id="twitter-reddit-buttons">
  <h3>Follow us on social media</h3>
  <p>
      We are committed to not losing touch with our community and users. We believe every voice counts and should get a vote. Apart from
      the voting ballot and senate systems of the site. We heavily use social media to get feedback from our users and discuss upcoming features.
  </p>
  <a id="twitter-link" target="_blank" href="https://twitter.com/lingooapp"><span class="fa fa-twitter"></span> Get our news from Twitter</a>
  <a id="reddit-link" target="_blank" href="https://www.reddit.com/r/lingooapp/"><span class="fa fa-reddit"></span> Join our dicussion at Reddit</a>
</div>

<!-- footer -->
<div id="footer">
  <div id="footer-grid-part-1">
    <p>Created by - <a target="_blank" href="https://twitter.com/Demir99antay" id="red-span">Demir Antay</a></p>
  </div >
  <div id="footer-grid-part-2">
    <p>About</p>
    <div id="grid-links">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'about_community_rules' %}">Community Rules</a>
      <a href="{% url 'about_terms' %}">Terms and Agreements</a>
      <a href="{% url 'about_privacy' %}">Privacy Policy</a>
    </div>
  </div>
  <div id="footer-grid-part-3">
    <p>Social</p>
    <div id="grid-links">
      <a href="https://twitter.com/lingooapp" target="_blank">Twitter</a>
      <a href="https://www.reddit.com/r/lingooapp/" target="_blank">Reddit</a>
    </div>
  </div>
</div>
{% endblock %}
