#signup-container {
  border: 1px solid transparent;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

#signup-container h1 {
  color: black;
}

#signup-container form {

}

#signup-container input {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 15px 10px;
  font-size: 20px;
  background-color: #F2F4F4;
  margin-bottom: 10px;
  border-radius: 10px;
  color: grey;
  border: 1px solid lightgrey;
}

#signup-container input:focus {
  border-color: black;
  outline: none !important;
}

#signup-container input:hover {
  border-color: black;
  transition: 0.2s;
}

#signup-form-submit-btn {
   background-color: #E3102E !important;
   color: white !important;
   width: 64% !important;
   border: #E3102E !important
}

#signup-form-submit-btn:hover {
  cursor: pointer;
  background-color: #A50E23 !important;

}

#signup-container p {
  color: black;
}

#signup-container p a {
  text-decoration: none;
  color: #E3102E;

}

#signup-container form ul {
  border: 1px solid transparent;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#signup-container form ul li {

}

#signup-login-warning-box {
  border: 1px solid transparent;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#signup-login-warning-box p {
  color: orange !important;
  font-size: 20px;
  font-weight: 900;
}

/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {

  /* -------- signup --------- */

  #signup-container {
    width: 95%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 94% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {

  /* -------- signup --------- */

  #signup-container {
    width: 95%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 94% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {

  /* -------- signup --------- */

  #signup-container {
    width: 95%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 94% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {

  /* -------- signup --------- */

  #signup-container {
    width: 70%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 90% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {

}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

  /* -------- signup --------- */

  #signup-container {
    width: 35%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 88% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}
