{% extends 'teacher_base.html' %}
{% load static %}
{% load filters %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_vocab_container/overview_2.css' %}" />
{% endblock %}

{% block content %}

<!-- production push feature notifications -->

<div id="production-push-success-alert">
  <button id="prod_push_success_alert_close_btn"><span class="fa fa-close"></span></button>
  <h1>Success!</h1>
  <p>Production Words Pushed Successfuly.</p>
</div>

<script>
  let prod_push_success_alert = document.getElementById("production-push-success-alert");
  let prod_push_success_alert_close_btn = document.getElementById("prod_push_success_alert_close_btn");

  prod_push_success_alert_close_btn.onclick = function() {
    prod_push_success_alert.style.display = "none";
  }
</script>

<div id="production-push-error-alert">
  <button id="prod_push_error_alert_close_btn"><span class="fa fa-close"></span></button>
  <h1>Uh No! Error!</h1>
  <p>Production Words Couldn't Be Pushed. Probably it has something to do with lenght.</p>
</div>

<script>
  let prod_push_error_alert = document.getElementById("production-push-error-alert");
  let prod_push_error_alert_close_btn = document.getElementById("prod_push_error_alert_close_btn");

  prod_push_error_alert_close_btn.onclick = function() {
    prod_push_error_alert.style.display = "none";
  }
</script>

{% if production_push_error == True %}
  <script>
    prod_push_error_alert.style.display = "block";
  </script>
{% elif production_push_success == True  %}
  <script>
    prod_push_success_alert.style.display = "block";
  </script>
{% endif %}

<!-- center part -->
<div id="vocab-center-container">
  <h1>Vocabulary Builder</h1>

  <!-- CRUD panel -->
  <div id="vocab-center-crud-panel">
    <!-- A0 alerts -->
    {% if a0_limit_reached == True %}
      <p style="color:red;">A0 Max limit reached</p>
    {% elif empty_a0_input == True %}
      <p style="color:red;">Empty input</p>
    {% endif %}
    <!-- A1 alerts -->
    {% if a1_limit_reached == True %}
      <p style="color:red;">A1 Max limit reached</p>
    {% elif empty_a1_input == True %}
      <p style="color:red;">Empty input</p>
    {% endif %}
    <!-- A2 alerts -->
    {% if a2_limit_reached == True %}
      <p style="color:red;">A2 Max limit reached</p>
    {% elif empty_a2_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}
    <!-- B1 alerts -->
    {% if b1_limit_reached == True %}
      <p style="color:red;">B2 Max limit reached</p>
    {% elif empty_b1_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}
    <!-- B2 alerts -->
    {% if b2_limit_reached == True %}
      <p style="color:red;">B2 Max limit reached</p>
    {% elif empty_b2_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}
    <!-- C1 alerts -->
    {% if c1_limit_reached == True %}
      <p style="color:red;">C1 Max limit reached</p>
    {% elif empty_c1_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}
    <!-- Advanced alerts -->
    {% if advanced_limit_reached == True %}
      <p style="color:red;">Advanced Max limit reached</p>
    {% elif empty_advanced_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> A0</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_a0_submit" />
    </form>

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> A1</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_a1_submit" />
    </form>

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> A2</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_a2_submit" />
    </form>

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> B1</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_b1_submit" />
    </form>

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> B2</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_b2_submit" />
    </form>

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> C1</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_c1_submit" />
    </form>

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <p><span class="fa fa-plus"></span> ADV</p>
      <input type="text" name="word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }} Word" />
      <input type="text" name="translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" />
      <input type="submit" value="Add" id="vocab-curd-add-btn" name="teacher_word_add_advanced_submit" />
    </form>

  </div>

  <!-- Vocabulary Lesson Tables -->
  <div id="vocab-lesson-tables">

    <!-- A0 -->
    <div class="table-toggle-btn" id="a0-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> A0 Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-a0-table">
      <h3>Max Limit: 100</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->

      {% for word in a0_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ a0_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}

    </div>

    <!-- A1 -->
    <div class="table-toggle-btn" id="a1-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> A1 Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-a1-table">
      <h3>Max Limit: 500</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->

      {% for word in a1_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ a1_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}
    </div>

    <!-- A2 -->
    <div class="table-toggle-btn" id="a2-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> A2 Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-a2-table">
      <h3>Max Limit: 1000</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->

      {% for word in a2_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ a2_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}
    </div>

    <!-- B1 -->
    <div class="table-toggle-btn" id="b1-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> B1 Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-b1-table">
      <h3>Max Limit: 2000</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->
      {% for word in b1_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ b1_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}
    </div>

    <!-- B2 -->
    <div class="table-toggle-btn" id="b2-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> B2 Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-b2-table">
      <h3>Max Limit: 4000</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->
      {% for word in b2_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ b2_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}
    </div>

    <!-- C1 -->
    <div class="table-toggle-btn" id="c1-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> C1 Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-c1-table">
      <h3>Max Limit: 8000</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->
      {% for word in c1_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ c1_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}
    </div>

    <!-- Advanced -->
    <div class="table-toggle-btn" id="advanced-table-toggle-btn">
      <p><span class="fa fa-caret-down"></span> Advanced Table</p>
    </div>

    <div class="hidden-vocab-table" id="hidden-advanced-table">
      <h3>Max Limit: 16,000</h3>
      <div id="hidden-vocab-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Edit</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>Sound</b></p>
        </div>
      </div><!-- /row -->
      {% for word in advanced_word_list %}
        <div id="hidden-vocab-table-row">
          <div id="vocab-container-table-column">
            <p>{{ advanced_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">Edit</a></b></p>
          </div>
          <div id="vocab-container-table-column">
            <p><b><a href="{% url 'teacher_vocab_container_add_sound' word.id %}">Sound</a></b></p>
          </div>
        </div><!-- /row -->
      {% endfor %}
    </div>

    <script>
      // a0

      let a0_table_toggle_btn = document.getElementById("a0-table-toggle-btn");
      let a0_hidden_table = document.getElementById("hidden-a0-table");

      a0_table_toggle_btn.onclick = function() {
        if (a0_hidden_table.style.display == "block") {
          a0_hidden_table.style.display = "none";
        } else {
          a0_hidden_table.style.display = "block";
        }
      }

      // a1
      let a1_table_toggle_btn = document.getElementById("a1-table-toggle-btn");
      let a1_hidden_table = document.getElementById("hidden-a1-table");

      a1_table_toggle_btn.onclick = function() {
        if (a1_hidden_table.style.display == "block") {
          a1_hidden_table.style.display = "none";
        } else {
          a1_hidden_table.style.display = "block";
        }
      }

      // a2
      let a2_table_toggle_btn = document.getElementById("a2-table-toggle-btn");
      let a2_hidden_table = document.getElementById("hidden-a2-table");

      a2_table_toggle_btn.onclick = function() {
        if (a2_hidden_table.style.display == "block") {
          a2_hidden_table.style.display = "none";
        } else {
          a2_hidden_table.style.display = "block";
        }
      }

      // b1
      let b1_table_toggle_btn = document.getElementById("b1-table-toggle-btn");
      let b1_hidden_table = document.getElementById("hidden-b1-table");

      b1_table_toggle_btn.onclick = function() {
        if (b1_hidden_table.style.display == "block") {
          b1_hidden_table.style.display = "none";
        } else {
          b1_hidden_table.style.display = "block";
        }
      }

      // b2
      let b2_table_toggle_btn = document.getElementById("b2-table-toggle-btn");
      let b2_hidden_table = document.getElementById("hidden-b2-table");

      b2_table_toggle_btn.onclick = function() {
        if (b2_hidden_table.style.display == "block") {
          b2_hidden_table.style.display = "none";
        } else {
          b2_hidden_table.style.display = "block";
        }
      }

      // c1
      let c1_table_toggle_btn = document.getElementById("c1-table-toggle-btn");
      let c1_hidden_table = document.getElementById("hidden-c1-table");

      c1_table_toggle_btn.onclick = function() {
        if (c1_hidden_table.style.display == "block") {
          c1_hidden_table.style.display = "none";
        } else {
          c1_hidden_table.style.display = "block";
        }
      }

      // advanced
      let advanced_table_toggle_btn = document.getElementById("advanced-table-toggle-btn");
      let advanced_hidden_table = document.getElementById("hidden-advanced-table");

      advanced_table_toggle_btn.onclick = function() {
        if (advanced_hidden_table.style.display == "block") {
          advanced_hidden_table.style.display = "none";
        } else {
          advanced_hidden_table.style.display = "block";
        }
      }

    </script>


  </div>

</div> <!-- / center container -->


<!-- right part -->
<div id="vocab-right-container">
  <!-- teacher course banner -->
  <div id="current-teaacher-course-banner">
      <p><b><i>{{ current_teacher_profile.teacher_course.course_language|title }}</i></b> for <b><i>{{ current_teacher_profile.teacher_course.course_speakers_language|title }}</i></b> Speakers</p>
  </div>

  <!-- FAQ -->
  <div id="teacher-vocab-faq">
    <h2>FAQ</h2>
    <div id="question-toggle-button">
      <p>Q: What is this?</p>
      <p id="faq-caret-span"><span class="fa fa-caret-down"></span></p>
    </div>
    <div id="quesion-1-answer-panel">
      <p>
        Even though this is not an official scientific theory, we believe
        that a student needs to learn a certain amount of words for each
        language level of the CEFR (Common European Framework of reference for
        language learning). The following list is a reference to how many words
        a student should know:
      </p>
      <ul>
        <li>A0 -- 100</li>
        <li>A1 -- 500</li>
        <li>A2 -- 1000</li>
        <li>B1 -- 2000</li>
        <li>B2 -- 4000</li>
        <li>C1 -- 8000</li>
      </ul>
      <p>
        So what exactly is the Vocabulary Container? It is a software feature
        that lets the course teachers build the word lists for each CEFR language
        level.
        <br /><br />
        Please note that in levels ranging from A0 to C1 you should add the
        words that you think are essential to the student. For example, adding
        100 words of tree's biologic names are not essential. Specific jargon
        based vocabulary packs will be added later on based on the students
        choosing and they will be built on a different page, not this one. This
        Vocabulary Container is for essential words.
      </p>
    </div>
  </div>

  <script>
    let question_1_button = document.getElementById("question-toggle-button");
    let question_1_panel = document.getElementById("quesion-1-answer-panel");

    question_1_button.onclick = function() {
      if (question_1_panel.style.display == "block") {
        question_1_panel.style.display = "none";
      } else {
        question_1_panel.style.display = "block";
      }
    }
  </script>

  <!-- Special panel -->
  <div id="speical-teacher-panel">
    <h3>Sepcial Panel</h3>

    {% if current_teacher_profile.is_permitted_to_push_prod == True %}
      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push A0 to Production" name="teacher_vocab_container_push_production_a0_submit" />
      </form>

      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push A1 to Production" name="teacher_vocab_container_push_production_a1_submit" />
      </form>

      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push A2 to Production" name="teacher_vocab_container_push_production_a2_submit" />
      </form>

      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push B1 to Production" name="teacher_vocab_container_push_production_b1_submit" />
      </form>

      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push B2 to Production" name="teacher_vocab_container_push_production_b2_submit" />
      </form>

      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push C1 to Production" name="teacher_vocab_container_push_production_c1_submit" />
      </form>

      <form action="{% url 'teacher_vocab_container_overview' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Push Advanced to Production" name="teacher_vocab_container_push_production_advanced_submit" />
      </form>
    {% endif %}
  </div>

</div><!-- /right container -->


{% endblock %}
