{% extends 'teacher_base.html' %}
{% load static %}
{% load filters %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_vocab_container/overview.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
{% endblock %}

{% block content %}

<div id="production-push-success-alert">
  <button id="prod_push_success_alert_close_btn"><span class="fa fa-close"></span></button>
  <h1>Success!</h1>
  <p>Production Words Pushed Successfuly.</p>
</div>

<script>
  let prod_push_success_alert = document.getElementById("production-push-success-alert");
  let prod_push_success_alert_close_btn = document.getElementById("prod_push_success_alert_close_btn");

  prod_push_success_alert_close_btn.onclick = function() {
    prod_push_success_alert.style.display = "none";
  }
</script>

<div id="production-push-error-alert">
  <button id="prod_push_error_alert_close_btn"><span class="fa fa-close"></span></button>
  <h1>Uh No! Error!</h1>
  <p>Production Words Couldn't Be Pused.</p>
</div>

<script>
  let prod_push_error_alert = document.getElementById("production-push-error-alert");
  let prod_push_error_alert_close_btn = document.getElementById("prod_push_error_alert_close_btn");

  prod_push_error_alert_close_btn.onclick = function() {
    prod_push_error_alert.style.display = "none";
  }
</script>



<div id="vocab-container-wrapper">

  <!-- header and explanation part -->
  <div id="vocab-container-header-box">
    <h1>Vocabulary Container ({{ current_teacher_profile.teacher_course.course_language|title }})</h1>

    <h3>FAQ</h3>
    <b>1) What is the Vocabulary Container?</b><br />
    <p>
      Even though this is not an official scientific theory, we believe that a
      student needs to learn a certain amount of words for each language
      level of the CEFR (Common European Framework of reference for language
      learning). The following list is a reference to how many words a student
      should know:
    </p>
    <ul>
      <li>A0 -- 100</li>
      <li>A1 -- 500</li>
      <li>A2 -- 1000</li>
      <li>B1 -- 2000</li>
      <li>B2 -- 4000</li>
      <li>C1 -- 8000</li>
    </ul>
    <p>
      So what exactly is the Vocabulary Container? It is a software feature
      that lets the course teachers build the word lists for each CEFR language
      level.
      <br /><br />
      Please note that in levels ranging from A0 to C1 you should add the
      words that you think are essential to the student. For example, adding
      100 words of tree's biologic names are not essential. Specific jargon
      based vocabulary packs will be added later on based on the students
      choosing and they will be built on a different page, not this one. This
      Vocabulary Container is for essential words.
    </p>
  </div>

  <!-- Shortucts -->
  <div id="vocab-shortcut-links">
    <button id="a0-open-btn"><span class="fa fa-plus"></span> A0</button>
    <button id="a1-open-btn"><span class="fa fa-plus"></span> A1</button>
    <button id="a2-open-btn"><span class="fa fa-plus"></span> A2</button>
    <button id="b1-open-btn"><span class="fa fa-plus"></span> B1</button>
    <button id="b2-open-btn"><span class="fa fa-plus"></span> B2</button>
    <button id="c1-open-btn"><span class="fa fa-plus"></span> C1</button>
    <button id="advanced-open-btn"><span class="fa fa-plus"></span> Advanced</button>
  </div>

  <div id="hidden-shortuct-background-greying"></div>
  <!-- a0 shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-a0-panel">
    <h3>Add an A0 word:</h3>
    {% if hidden_a0_limit_reached == True %}
      <script>alert("A0 word list have reached it's limit.")</script>
    {% elif hidden_empty_a0_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}" />
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" value="Add" class="short-cut-submit-btn" name="teacher_vocab_shortcut_a0_submit_btn"/>
    </form>
    <button id="a0-close-btn">Cancel</button>
  </div>

  <!-- a1 shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-a1-panel">
    <h3>Add an A1 word:</h3>
    {% if hidden_a1_limit_reached == True %}
      <script>alert("A1 word list have reached it's limit.")</script>
    {% elif hidden_empty_a1_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}"/>
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" name="teacher_vocab_shortcut_a1_submit_btn" value="Add" class="short-cut-submit-btn"/>
    </form>
    <button id="a1-close-btn">Cancel</button>
  </div>

  <!-- a2 shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-a2-panel">
    <h3>Add an A2 word:</h3>
    {% if hidden_a2_limit_reached == True %}
      <script>alert("A2 word list have reached it's limit.")</script>
    {% elif hidden_empty_a2_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}"/>
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" name="teacher_vocab_shortcut_a2_submit_btn" value="Add" class="short-cut-submit-btn"/>
    </form>
    <button id="a2-close-btn">Cancel</button>
  </div>

  <!-- b1 shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-b1-panel">
    <h3>Add an B1 word:</h3>
    {% if hidden_b1_limit_reached == True %}
      <script>alert("B1 word list have reached it's limit.")</script>
    {% elif hidden_empty_b1_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}"/>
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" name="teacher_vocab_shortcut_b1_submit_btn" value="Add" class="short-cut-submit-btn"/>
    </form>
    <button id="b1-close-btn">Cancel</button>
  </div>

  <!-- b2 shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-b2-panel">
    <h3>Add an B2 word:</h3>
    {% if hidden_b2_limit_reached == True %}
      <script>alert("B2 word list have reached it's limit.")</script>
    {% elif hidden_empty_b2_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}"/>
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" name="teacher_vocab_shortcut_b2_submit_btn" value="Add" class="short-cut-submit-btn"/>
    </form>
    <button id="b2-close-btn">Cancel</button>
  </div>

  <!-- c1 shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-c1-panel">
    <h3>Add an C1 word:</h3>
    {% if hidden_c1_limit_reached == True %}
      <script>alert("C1 word list have reached it's limit.")</script>
    {% elif hidden_empty_c1_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}"/>
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" name="teacher_vocab_shortcut_c1_submit_btn" value="Add" class="short-cut-submit-btn"/>
    </form>
    <button id="c1-close-btn">Cancel</button>
  </div>

  <!-- Advanced shortcut hidden panel -->
  <div class="shortcut-hidden-panel" id="hidden-shortcut-advanced-panel">
    <h3>Add an Advanced word:</h3>
    {% if hidden_advanced_limit_reached == True %}
      <script>alert("Advanced word list have reached it's limit.")</script>
    {% elif hidden_empty_advanced_input == True %}
      <script>alert("You cannot enter empty input.")</script>
    {% endif %}
    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}">
      {% csrf_token %}
      <input type="text" name="new_word" placeholder="{{ current_teacher_profile.teacher_course.course_language|title }}"/>
      <input type="text" name="new_word_translation" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }}" />
      <input type="submit" name="teacher_vocab_shortcut_advanced_submit_btn" value="Add" class="short-cut-submit-btn"/>
    </form>
    <button id="advanced-close-btn">Cancel</button>
  </div>

  <script>
    let background_greying = document.getElementById("hidden-shortuct-background-greying");

    let a0_panel = document.getElementById("hidden-shortcut-a0-panel");
    let a0_open_btn = document.getElementById("a0-open-btn");
    let a0_close_btn = document.getElementById("a0-close-btn");

    let a1_panel = document.getElementById("hidden-shortcut-a1-panel");
    let a1_open_btn = document.getElementById("a1-open-btn");
    let a1_close_btn = document.getElementById("a1-close-btn");

    let a2_panel = document.getElementById("hidden-shortcut-a2-panel");
    let a2_open_btn = document.getElementById("a2-open-btn");
    let a2_close_btn = document.getElementById("a2-close-btn");

    let b1_panel = document.getElementById("hidden-shortcut-b1-panel");
    let b1_open_btn = document.getElementById("b1-open-btn");
    let b1_close_btn = document.getElementById("b1-close-btn");

    let b2_panel = document.getElementById("hidden-shortcut-b2-panel");
    let b2_open_btn = document.getElementById("b2-open-btn");
    let b2_close_btn = document.getElementById("b2-close-btn");

    let c1_panel = document.getElementById("hidden-shortcut-c1-panel");
    let c1_open_btn = document.getElementById("c1-open-btn");
    let c1_close_btn = document.getElementById("c1-close-btn");

    let advanced_panel = document.getElementById("hidden-shortcut-advanced-panel");
    let advanced_open_btn = document.getElementById("advanced-open-btn");
    let advanced_close_btn = document.getElementById("advanced-close-btn");

    // A0 panel open close operations
    a0_open_btn.onclick = function () {
      background_greying.style.display = "block";
      a0_panel.style.display = "block";
    }

    a0_close_btn.onclick = function () {
      background_greying.style.display = "none";
      a0_panel.style.display = "none";
    }

    // A1 panel open close operations
    a1_open_btn.onclick = function () {
      background_greying.style.display = "block";
      a1_panel.style.display = "block";
    }

    a1_close_btn.onclick = function () {
      background_greying.style.display = "none";
      a1_panel.style.display = "none";
    }

    // A2 panel open close operations
    a2_open_btn.onclick = function () {
      background_greying.style.display = "block";
      a2_panel.style.display = "block";
    }

    a2_close_btn.onclick = function () {
      background_greying.style.display = "none";
      a2_panel.style.display = "none";
    }

    // B1 panel open close operations
    b1_open_btn.onclick = function () {
      background_greying.style.display = "block";
      b1_panel.style.display = "block";
    }

    b1_close_btn.onclick = function () {
      background_greying.style.display = "none";
      b1_panel.style.display = "none";
    }

    // B2 panel open close operations
    b2_open_btn.onclick = function () {
      background_greying.style.display = "block";
      b2_panel.style.display = "block";
    }

    b2_close_btn.onclick = function () {
      background_greying.style.display = "none";
      b2_panel.style.display = "none";
    }

    // C1 panel open close operations
    c1_open_btn.onclick = function () {
      background_greying.style.display = "block";
      c1_panel.style.display = "block";
    }

    c1_close_btn.onclick = function () {
      background_greying.style.display = "none";
      c1_panel.style.display = "none";
    }

    // Advanced panel open close operations
    advanced_open_btn.onclick = function () {
      background_greying.style.display = "block";
      advanced_panel.style.display = "block";
    }

    advanced_close_btn.onclick = function () {
      background_greying.style.display = "none";
      advanced_panel.style.display = "none";
    }

  </script>

  <!-- vocab A0 table -->
  <div id="vocab-a0-table">
    <h3>A0</h3>
    <p>
      The limit: 100 words.
    </p>

    {% if a0_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_a0_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} A0 word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_a0_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->

      {% for word in a0_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ a0_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}

    </div><!--/vocab container table -->

    <!-- A0 hidden push prod panel -->
    <button class="push-production-button" id="a0-push-panel-open-button">Push A0 to Production</button>
    <div id="production-push-hidden-panel-background-greying"></div>
    <div id="a0-production-push-hidden-panel" class="production-push-hidden-panel">
      <h3>Are you sure?</h3>
      <form>
          <input type="submit" value="Push A0 Words" />
      </form>
      <button id="a0-push-panel-close-button">Cancel</button>
    </div>
    <script>
      let a0_push_panel_open_btn = document.getElementById("a0-push-panel-open-button");
      let a0_push_panel_close_btn = document.getElementById("a0-push-panel-close-button")
      let push_panel_bg_greying = document.getElementById("production-push-hidden-panel-background-greying");
      let a0_push_panel = document.getElementById("a0-production-push-hidden-panel");

      a0_push_panel_open_btn.onclick = function() {
        push_panel_bg_greying.style.display = "block";
        a0_push_panel.style.display = "block";
      }

      a0_push_panel_close_btn.onclick = function() {
        push_panel_bg_greying.style.display = "none";
        a0_push_panel.style.display = "none";
      }
    </script>

  </div>

  <script>
    /*
    let form_open_button = document.getElementsByClassName("open-hidden-panel-btn");
    //let form_open_button = document.getElementById("hidden-edit-form-open-btn");

    for (let i=0; form_open_button.length; i++) {
      form_open_button[i].addEventListener("click", open_panel);
    }

    function open_panel(event) {
      event.preventDefault();
      alert(hidden_id.value);
    }*/

    /*
    let hidden_panel_open_buttons = document.getElementsByClassName("open-hidden-panel-btn");
    let hidden_edit_form = document.getElementById("hidden-edit-form");

    // open panel
    for (let i=0; hidden_panel_open_buttons.length; i++) {
      hidden_panel_open_buttons[i].addEventListener("click", open_panel);
    }

    function open_panel(event) {
      event.preventDefault();

      hidden_bg.style.display = "block";
      hidden_fg.style.display = "block";
    }
    */
  </script>

  <!-- vocab A1 table -->
  <div id="vocab-a0-table">
    <h3>A1</h3>
    <p>
      The limit: 500 words.
    </p>

    {% if a1_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_a1_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} A0 word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_a1_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->

      {% for word in a1_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ a1_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}

    </div><!--/vocab container table -->

  </div>

  <!-- vocab A2 table -->
  <div id="vocab-a0-table">
    <h3>A2</h3>
    <p>
      The limit: 1000 words.
    </p>

    {% if a2_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_a2_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} A2 word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_a2_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->

      {% for word in a2_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ a2_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}

    </div><!--/vocab container table -->

  </div>

  <!-- vocab B1 table -->
  <div id="vocab-a0-table">
    <h3>B1</h3>
    <p>
      The limit: 2000 words.
    </p>

    {% if b1_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_b1_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} B1 word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_b1_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->
      {% for word in b1_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ b1_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}
    </div><!--/vocab container table -->

  </div>


  <!-- vocab B2 table -->
  <div id="vocab-a0-table">
    <h3>B2</h3>
    <p>
      The limit: 4000 words.
    </p>

    {% if b2_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_b2_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} B2 word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_b2_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->
      {% for word in b2_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ b2_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}
    </div><!--/vocab container table -->

  </div>

  <!-- vocab C1 table -->
  <div id="vocab-a0-table">
    <h3>C1</h3>
    <p>
      The limit: 8000 words.
    </p>

    {% if c1_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_c1_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} C1 word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_c1_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->
      {% for word in c1_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ c1_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}
    </div><!--/vocab container table -->

  </div>

  <!-- Advanced Table -->
  <div id="vocab-a0-table">
    <h3>Advanced</h3>
    <p>
      The limit: 16000 words.
    </p>

    {% if advanced_limit_reached == True %}
      <p style="color:red;">Max limit reached</p>
    {% elif empty_advanced_input == True %}
      <p style="color:red;">empty input</p>
    {% endif %}

    <form method="POST" action="{% url 'teacher_vocab_container_overview' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Add a {{ current_teacher_profile.teacher_course.course_language|title }} Advacned word" id="word-form-content" name="word" />
        <input type="text" placeholder="{{ current_teacher_profile.teacher_course.course_speakers_language|title }} Translation" id="word-form-content" name="translation" />
        <input type="submit" value="add" id="word-add-button" name="teacher_word_add_advanced_submit" />
    </form>

    <div id="vocab-container-table">
      <!-- first ones are the headers the data will be on bottom -->
      <div id="vocab-container-table-row">
        <div id="vocab-container-table-column">
          <p><b>id</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>word</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>added by</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>translation</b></p>
        </div>
        <div id="vocab-container-table-column">
          <p><b>edit</b></p>
        </div>
      </div><!-- /voab container table row -->
      {% for word in advanced_word_list %}
        <!-- row data -->
        <div id="vocab-container-table-row">
          <div id="vocab-container-table-column">
            <p>{{ advanced_word_count|get_key_value:word.id }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>{{ word.word }}</p>
          </div>
          <div id="vocab-container-table-column">
            <p>@{{ word.teacher.user.username }}</p>
          </div>
          <div id="vocab-container-table-column">
            {% if word.word_translation == None %}
              <p> </p>
            {% else %}
              <p>{{ word.word_translation }}</p>
            {% endif %}
          </div>
          <div id="vocab-container-table-column">
            <a id="edit-button" href="{% url 'teacher_vocab_container_edit' word.id word.word  %}">edit</a>
          </div>
        </div><!-- /voab container table row for data records -->
      {% endfor %}
    </div><!--/vocab container table -->


  </div>


  <!-- hidden table word record edit panel -->
  <div id="hidden-table-record-edit-panel-background"></div>
  <div id="hidden-table-record-edit-panel-foreground">
    <h3>Edit Word Record</h3>
    <form>
      <input type="hidden" />
      <input type="text" placeholder="Word" />
      <input type="submit" value="Save" id="edit-word-submit-btn"/>
    </form>
    <button id="edit-word-cancel-btn">Cancel</button>
  </div>

<!--
  <script>
    let hidden_panel_open_buttons = document.getElementsByClassName("open-hidden-panel-btn");
    let hidden_panel_close_btn = document.getElementById("edit-word-cancel-btn");

    // open panel
    for (let i=0; hidden_panel_open_buttons.length; i++) {
      hidden_panel_open_buttons[i].addEventListener("click", open_panel);
    }

    function open_panel(event) {
      event.preventDefault();

      hidden_bg.style.display = "block";
      hidden_fg.style.display = "block";
    }
  </script>-->

</div>

{% endblock %}
