{% extends 'main_base.html' %}
{% load static %}
{% load filters %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic_ranking/overview.css' %}" />
{% endblock %}

{% block content %}
{% with foo="foo" redirect_page="0" %}

<!-- header -->
<div id="ranking-header">
  <h1>Ranking</h1>
</div>

<!-- your own rank -->
<p id="your-rank-meta-header">Your overall rank:</p>

{% for student_profile in current_user_student_profiles %}
  {% if student_profile.course %}
    <div id="your-own-rank">
        <span id="your-won-rank-num">{{ current_user_ranks|get_key_value:student_profile.id }}.</span>
        {% if student_profile.basic_user_profile.profile_photo %}
          <div id="profile-photo" style="background-image: url('{{ student_profile.basic_user_profile.profile_photo.url }}');" ></div>
        {% else %}
          <div id="profile-photo" style="background-image: url('{% static 'anon/anon-profile-photo.png' %}');');" ></div>
        {% endif %}

        <div id="cell-user-link">
          <a href="{% url 'profile_overview' foo foo %}">{{ student_profile.basic_user_profile.user.username  }}</a>
        </div>
        <p id="daily-streak"><span class="fa fa-star"></span> 12</p>
        <div id="rank-overview-cell-flag" style="background-image: url('{{ student_profile.langauge.flag.url }}')"></div>
        <p id="xp">{{ student_profile.xp }} <span id="xp-span"><b>XP</b></span></p>
    </div>
  {% else %}

  {% endif %}
{% endfor %}

<!-- navigation -->
<div id="navigation">
    <a href="" id="navigation-active">Overview</a>
    {% for student_profile in current_user_student_profiles %}
      {% if student_profile.course %}
        <a href="{% url 'category_ranking' student_profile.course.course_language redirect_page %}"><div id="flag" style="background-image: url('{{ student_profile.langauge.flag.url }}');"></div> {{ student_profile.course.course_language|title }}</a>
      {% else %}
      {% endif %}
    {% endfor %}
</div>


<!-- ranking list -->
<div id="all-rankings">

    {% for student in filtered %}
      {% if student.course %}
        <!-- rank cell -->
        <div id="rank-cell">
          <span id="your-won-rank-num">{{ rankings|get_key_value:student.id }}.</span>
          {% if student.basic_user_profile.profile_photo %}
            <div id="profile-photo" style="background-image: url('{{ student.basic_user_profile.profile_photo.url }}');"></div>
          {% else %}
            <div id="profile-photo" style="background-image: url('{% static 'anon/anon-profile-photo.png' %}');"></div>
          {% endif %}
          <div id="cell-user-link">
              <a href="{% url 'other_user_profile_overview' student.basic_user_profile.user.username foo foo %}">{{ student.basic_user_profile.user.username  }}</a>
          </div>
          <p id="daily-streak"><span class="fa fa-star"></span> 12</p>
          <div id="rank-overview-cell-flag" style="background-image: url('{{ student.langauge.flag.url }}')"></div>
          <p id="xp">{{ student.xp }} <span id="xp-span"><b>XP</b></span></p>
        </div>
        <!-- /cell -->
      {% else %}
      {% endif %}
    {% endfor %}

</div>

<!-- pagination -->
<div id="pagination">
  {% if current_page <= 0 %}
    <a href=""><span class="fa fa-arrow-left"></span></a>
    <a href="{% url 'ranking_overview' next_page %}"><span class="fa fa-arrow-right"></span></a>
  {% else %}
    <a href="{% url 'ranking_overview' previous_page %}"><span class="fa fa-arrow-left"></span></a>
    <a href="{% url 'ranking_overview' next_page %}"><span class="fa fa-arrow-right"></span></a>
  {% endif %}
</div>

{% endwith %}
{% endblock %}
