body {
  background-color: #F4F6F6 !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}


/* -------------------- Notification Box -----------------*/
#notification-box-container {
  position: fixed;
  right:0;
  top:0;
  z-index: 999;
  margin-right: 50px;
  margin-top: 20px;
  width: 30%;
  height: auto;
  border: 1px solid transparent;
}

#notification-box {
  background-color: #F1C40F;
  position: relative;
  padding: 10px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75);
  width: 100%;
  margin-bottom: 10px;
}

#notification-box-left-part {
  border: 1px solid transparent;
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#left-horizontal-bar {
  border-left: 5px solid black;
  margin-right: 10px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
}

#notification-box-left-part span {
  font-size: 30px;
  vertical-align: middle;
  color: black;
}

#notification-box-middle-part {
  border: 1px solid transparent;
  width: 63%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
  margin-right: 6%;
}

#notification-box-middle-part h3 {
  margin: 0px;
  color: black;
  font-size: 18px;
}

#notification-box-middle-part p {
  margin: 0px;
  color: black;
  font-size: 15px;
  margin-top: 5px;
}

#notification-box-right-part form input {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 20px;
  position: absolute;
  top:0;
  right: 0;
  color: black;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: 900;
}

#notification-box-right-part form input:hover {
  cursor: pointer;
  color: red;
}

/* -------------------- CENTER PART ------------------- */
#center-part {
  border: 1px solid transparent;
  width: 63%;
  vertical-align: top;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

#language-profile-dropdown-open-button {
  border: 1px solid transparent;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 99;
}


#language-profile-dropdown-open-button a {
  border: 1px solid lightgrey;
  display: block;
  vertical-align: middle;
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
  margin-bottom: 5px;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
}

#language-profile-dropdown-open-button a:hover {
  border-color: red !important;
  transition: 0.2s;
}

#language-profile-dropdown-open-button a span {
  vertical-align: middle;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

#language-profile-dropdown {
  border: 1px solid transparent;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  display: none;
  z-index: 99;
}

#language-profile-dropdown a {
  border: 1px solid lightgrey;
  display: block;
  vertical-align: middle;
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
  margin-bottom: 0px;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
}

#language-profile-dropdown a:hover {
  background-color: lightgrey;
}

#language-dropdown-flag {
  width: 60px;
  height: 40px;
  border-radius: 6px;
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

#level-divider-banner {

}

#level-divider-banner  h1 {
  vertical-align: middle;
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
}

#middle-line {
  vertical-align: middle;
  border-bottom: 4px solid black !important;
  display: inline-block;
  width: 30%;
}

#middle-line-advacned {
  vertical-align: middle;
  border-bottom: 4px solid black !important;
  display: inline-block;
  width: 16%;
}

#lesson-cell-link {
  color: white;
  text-decoration: none;
}

#lesson-cell {
  background-color: #AEB6BF;
  width: 72%;
  margin: 0 auto;
  color: white;
  padding: 0px 0px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#lesson-cell:hover {
  transition: 0.3s;
  background-color: #85929E;
}

#lesson-cell-link h3 {
  color: black !important;
}

#lesson-cell p {
  font-size: 14px;
  padding: 10px 0px !important;
}

.locked-lesson-cell {
  background-color: #AEB6BF !important;
}

.locked-lesson-cell:hover {
  cursor: no-drop;
}


.finished-lesson {
  background-color: #27AE60 !important;
  padding: 0px 0px !important;
}

.finished-lesson h3 span {
  color: white !important;
  font-size: 30px;
}

.finished-lesson p {
  font-size: 14px !important;
}


/* ------------ Reading Cells -------------- */

#reading-lesson-row {
  border: 1px solid transparent;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#reading-lesson-cell-link {
  text-decoration: none;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1%;
  margin-left: 1%;
  height: 50px !important;
  position: relative;
  margin-bottom: 40px;
}


#reading-lesson-cell {
  background-color: #AEB6BF;
  margin: 0 auto;
  color: white;
  padding: 25px 0px;
  border-radius: 15px;
  height: 50px !important;
  width: 100%;
  position: relative;
}

#reading-lesson-cell:hover {
  transition: 0.2s;
  background-color: #85929E;
}

#reading-lesson-cell p span {
  background-color: transparent !important;
}

#reading-lesson-cell-level-lights {
  background-color: transparent;
  height: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

#reading-lesson-cell-light {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: #AEB6BF;
  height: 10px;
  border-radius: 8px;
}

#reading-lesson-cell-current-level {
  background-color: #EB984E;
  padding: 10px 17px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top:0;
  z-index: 999;
  margin-top: -10px;
  margin-left: -10px;
}

.reading-cell-level-2 {
  background-color: #F1C40F !important;
}

.reading-cell-level-3 {
  background-color: #E74C3C !important;
}

.reading-cell-completed {
  background-color: #27AE60 !important;
}

.reading-cell-completed span {
  display: none !important;
}

.reading-cell-level-completed div {
  background-color: #27AE60 !important;
}

.locked-reading-lesson-cell span {
  background-color: #616A6B !important;
}

.locked-reading-lesson-cell:hover {
  cursor: no-drop;
}


/* -------------------- RIGHT PART ------------------- */
#right-part {
  border: 1px solid transparent;
  width: 33%;
  vertical-align: top;
  padding-bottom: 20px;
  display: inline-block;
}

#learned-words-box {
  border: 1px solid lightgrey;
  margin-top: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
  position: relative;
}

#learned-words-box-header {
  border-bottom: 1px solid lightgrey;
  text-align: left;
  font-size: 20px;
  margin-bottom: 15px;
}

#learned-words-box-header h3 {
  margin: 0px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

#learned-words-box-daily-streak-p {
  position: absolute;
  top:0;
  right: 0;
  margin-top: 15px !important;
  margin-right: 15px !important;
}

#learned-words-box-daily-streak-p span {
  color: #F1C40F;
}

#learned-words-box p {
  margin: 0px;
  margin-bottom: 10px;
}


#review-reading-box {
  border: 1px solid transparent;
  text-align: left;
  padding-top: -10px !important;
}

#review-link {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

#review-link p {
    background-color: #3498DB;
    display: inline-block;
    padding: 25px 0px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 5%;
    width: 38%;
    text-align: center;
}

#review-link p:hover {
  transition: 0.2s;
  background-color: #21618C;
}

#review-reading-box-right-part {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
  margin-left: 1%;
  border: 1px solid transparent;
  margin-top: -20px;
  text-align: center;
  margin-right: 2%;
  width: 48%;
}

#review-reading-box-right-part p {
  margin: 0px;
  font-size: 16px;
}

#reading-lesson-progress {
  font-weight: 900;
  font-size: 30px !important;
}

#review-vocab-box {
  border: 1px solid transparent;
  text-align: left;
  padding-top: 10px !important;
}

#review-vocab-box-right-part {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
  margin-left: 1%;
  border: 1px solid transparent;
  text-align: center;
  margin-right: 2%;
  margin-top: -20px;
  width: 48%;
}

#review-vocab-box-right-part p {
  font-size: 15px;
  margin: 0px;
}

#words {
  font-size: 30px !important;
  font-weight: 900;
}

#meta-review-info {
  font-size: 14px !important;
  color: grey;
}

#social-links-box {
  border: 1px solid lightgrey;
  margin-top: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

#social-links-box a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 40px;
  margin: 0px 5px;
}

#social-links-box a:hover {
  color white;
  background-color: black;
  transition: 0.2s;
}

#social-links-box a:hover #social-link  {
  color: white;
  transition: 0.2s;
}

#patreon-link-container {
  border: 1px solid lightgrey;
  margin-top: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

#patreon-link {
  text-decoration: none;
  border: 0px;
  padding: 20px 52px;
  border-radius: 8px;
  color: black;
  background-color: white;
}

#patreon-link span {
  color: red;
}

/*

#current-lesson-ranking-header {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}

#current-lesson-ranking a {
  text-decoration: none;
  color: black;
}

#current-lesson-ranking {
  border: 1px solid lightgrey;
  margin-top: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  text-align: left;
  background-color: white;
  position: relative;
}

#current-lesson-ranking h3 {
  text-decoration: none;
  color: black;
  margin: 0px;
  margin-top: 15px;
  margin-left: 15px;
}

#current-lesson-ranking h3 {
  text-decoration: none;
  color: black;
}


#current-lesson-ranking-flag {
  background-color: lightgrey;
  height: 25px;
  width: 40px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top:0;
  right:0;
  margin-top: 15px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../flags/spanish.png");
  background-size: cover;
}

#current-lesson-ranking-cell {
  border-bottom: 1px solid lightgrey;
  padding: 5px 0px;
}

#current-lesson-ranking-cell:nth-child(6) {
  border-bottom: 0px !important;
}

#current-lesson-ranking-cell p {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 15px;
}

#current-lesson-ranking-cell-left-rank-num {
  width: 15%;
  overflow-x: hidden;
}

#current-lesson-ranking-cell a {
  display: inline-block;
  vertical-align: middle;
}

#ranking-profile-photo {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: lightgrey;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#current-ranking-xp {
  float: right;
  margin-right: 15px;
  font-size: 15px;
}

#current-ranking-xp span {
  background-color: lightgrey !important;
  color: grey !important;
  padding: 3px;
  border-radius: 2px;
  font-size: 12px;
}

.active-ranking-cell {
  background-color: #E5E8E8;
}

*/

#discord-link {
  border: 1px solid transparent;
  margin-top: 30px;
  text-align: center;
}

#discord-link p {
  margin: 0px;
  font-weight: 700;
}

#discord-link p a {
  text-decoration: none;
  color: #E3102E;
  font-weight: 800;
}

/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {


  /* -------------------- CENTER PART ------------------- */
  #center-part {
    width: 98%;
    padding-bottom: 20px;
    display: block;
    margin-right: 0%;
  }

  #language-profile-dropdown-open-button {
    width: 95%;
    margin-top: 10px;
  }

  #language-profile-dropdown-open-button a {
    margin-left: 0px;
  }

  #language-profile-dropdown {
    width: 95%;
    margin: 0 auto;
  }

  #language-profile-dropdown a {
    margin-left: 0px;
  }

  #level-divider-banner  h1 {
    font-size: 30px;
  }

  #middle-line {
    width: 30%;
  }

  #middle-line-advacned {
    width: 12%;
  }

  #lesson-cell {
    width: 95%;
    color: white;
    margin-top: -10px;
  }

  /* ------------ Reading Cells -------------- */

  #reading-lesson-row {
    width: 98%;
    margin-bottom: 50px;
  }

  #reading-lesson-cell-link {
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
    height: 35px !important;
  }

  #reading-lesson-cell {
    padding: 25px 0px;
    height: 35px !important;
  }

  #reading-lesson-cell p {
    font-size: 13px;
    margin: 0px;
    margin-top: 10px;
  }

  #reading-lesson-cell-light {
    width: 22%;
    height: 6px;
  }

  #reading-lesson-cell-current-level {
    padding: 5px 12px;
    margin-top: -6px;
    margin-left: -6px;
  }


  /* -------------------- RIGHT PART ------------------- */
  #right-part {
    width: 95%;
    display: block;
    margin: 0 auto;
  }

  #learned-words-box {
    border: 1px solid lightgrey;
    margin-top: 0px;
  }


  /* -------------------- Notification Box -----------------*/
  #notification-box-container {
    margin-right: 30px;
    margin-top: 20px;
    width: 80%;
  }

  #notification-box-left-part {
    display: none;
  }

  #notification-box-middle-part {
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {

    /* -------------------- CENTER PART ------------------- */
    #center-part {
      width: 98%;
      padding-bottom: 20px;
      display: block;
      margin-right: 0%;
    }

    #language-profile-dropdown-open-button {
      width: 95%;
      margin-top: 10px;
    }

    #language-profile-dropdown-open-button a {
      margin-left: 0px;
    }

    #language-profile-dropdown {
      width: 95%;
      margin: 0 auto;
    }

    #language-profile-dropdown a {
      margin-left: 0px;
    }

    #level-divider-banner  h1 {
      font-size: 30px;
    }

    #middle-line {
      width: 30%;
    }

    #middle-line-advacned {
      width: 12%;
    }

    #lesson-cell {
      width: 95%;
      color: white;
      margin-top: -10px;
    }

    /* ------------ Reading Cells -------------- */

    #reading-lesson-row {
      width: 98%;
      margin-bottom: 50px;
    }

    #reading-lesson-cell-link {
      width: 30%;
      margin-right: 1%;
      margin-left: 1%;
      height: 35px !important;
    }

    #reading-lesson-cell {
      padding: 25px 0px;
      height: 35px !important;
    }

    #reading-lesson-cell p {
      font-size: 13px;
      margin: 0px;
      margin-top: 10px;
    }

    #reading-lesson-cell-light {
      width: 22%;
      height: 6px;
    }

    #reading-lesson-cell-current-level {
      padding: 5px 12px;
      margin-top: -6px;
      margin-left: -6px;
    }


    /* -------------------- RIGHT PART ------------------- */
    #right-part {
      width: 95%;
      display: block;
      margin: 0 auto;
    }

    #learned-words-box {
      border: 1px solid lightgrey;
      margin-top: 0px;
    }

    /* -------------------- Notification Box -----------------*/
    #notification-box-container {
      margin-right: 30px;
      margin-top: 20px;
      width: 80%;
    }

    #notification-box-left-part {
      display: none;
    }

    #notification-box-middle-part {
      width: 80%;
      margin-left: 2%;
      margin-right: 2%;
    }

}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {

    /* -------------------- CENTER PART ------------------- */
    #center-part {
      width: 98%;
      padding-bottom: 20px;
      display: block;
      margin-right: 0%;
    }

    #language-profile-dropdown-open-button {
      width: 95%;
      margin-top: 10px;
    }

    #language-profile-dropdown-open-button a {
      margin-left: 0px;
    }

    #language-profile-dropdown {
      width: 95%;
      margin: 0 auto;
    }

    #language-profile-dropdown a {
      margin-left: 0px;
    }

    #level-divider-banner  h1 {
      font-size: 30px;
    }

    #middle-line {
      width: 30%;
    }

    #middle-line-advacned {
      width: 12%;
    }

    #lesson-cell {
      width: 95%;
      color: white;
      margin-top: -10px;
    }

    /* ------------ Reading Cells -------------- */

    #reading-lesson-row {
      width: 98%;
      margin-bottom: 50px;
    }

    #reading-lesson-cell-link {
      width: 30%;
      margin-right: 1%;
      margin-left: 1%;
      height: 35px !important;
    }

    #reading-lesson-cell {
      padding: 25px 0px;
      height: 35px !important;
    }

    #reading-lesson-cell p {
      font-size: 13px;
      margin: 0px;
      margin-top: 10px;
    }

    #reading-lesson-cell-light {
      width: 22%;
      height: 6px;
    }

    #reading-lesson-cell-current-level {
      padding: 5px 12px;
      margin-top: -6px;
      margin-left: -6px;
    }

    /* -------------------- RIGHT PART ------------------- */
    #right-part {
      width: 95%;
      display: block;
      margin: 0 auto;
    }

    #learned-words-box {
      border: 1px solid lightgrey;
      margin-top: 0px;
    }

    /* -------------------- Notification Box -----------------*/
    #notification-box-container {
      margin-right: 30px;
      margin-top: 20px;
      width: 80%;
    }

    #notification-box-left-part {
      display: none;
    }

    #notification-box-middle-part {
      width: 80%;
      margin-left: 2%;
      margin-right: 2%;
    }

}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {


}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

}
