/*

Color Palette
-------
red:    #E3102E
:hover  #A50E23

border on black bacg: #333333


*/


h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

a, p, ul, li {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #161F2B;
  background-color: #334049;
  background-color: white;
}

/* ------- utils ----- */

#red-span {
  color: #E3102E;
  text-shadow: #E3102E 1px 0 8px;
  text-decoration: none;
}

/* -------- top nav ----- */

#top-nav {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

#top-nav a img {
  height: 65px;
  vertical-align: middle;
}

#top-nav-links {
  display: inline-block;
  vertical-align: middle'
  border: 1px solid red;
  width: 70%;
  text-align: right;
  border: 1px solid transparent;
}

#top-nav-links a {
  text-align: center;
}

#top-nav-home-link {
  color: grey;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  margin: 0px 20px;
  font-size: 18px;
  border: 1px solid transparent;
}

#top-nav-home-link span {
  font-size: 30px;
}

#top-nav-home-link:hover {
  color: #E3102E !important;
  transition: 0.3s !important;
}

#login-signup-link {
  background-color: transparent;
  color: #E3102E;
  border: 1px solid #E3102E;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 0px 10px;
}

#login-signup-link:hover {
  background-color: #E3102E;
  color: white;
  transition: 0.5s;
}

/* ------ toggle-top-nav ----- */

#toggle-top-nav {
  border: 1px solid transparent;
  display: none;
}

#toggle-top-nav a img {
  height: 50px;
  vertical-align: middle;
}

#toggle-top-nav button {
  vertical-align: middle;
  float: right;
  font-size: 30px;
  color: black;
  margin-top: 10px;
  background-color: transparent;
  border: 0px;
}

#toggle-top-nav button:hover {
  cursor: pointer;
  color: #E3102E;
  transition: 0.3s;
}

/* ------ hidden mobile top naviagtion ----- */

#background-greying {
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: grey;
  opacity: 0.5;
}

#hidden-mobile-top-nav {
  transition: 0.5s !important;
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  background-color: white;
  padding-top: 50px;
}

#hidden-mobile-top-nav button {
  display: block;
  position: absolute;
  top:0;
  right:0;
  margin-top: 25px;
  margin-right: 10px;
  background-color: transparent;
  border: 0px;
  font-size: 23px;
}

#hidden-mobile-top-nav button:hover {
  color: #E3102E;
  transition: 0.5s;
  cursor: pointer;
}

#hidden-mobile-top-nav a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
}

#hidden-mobile-top-nav a:hover {
  background-color: #F2F4F4;
}

#hidden-mobile-top-nav a span {
  margin-right: 5px;
}

/* -------- signup --------- */

#signup-container {
  border: 1px solid transparent;
  width: 60%;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
}

#signup-container h1 {
  color: black;
}

#signup-container form {

}

#signup-container input {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 15px 10px;
  font-size: 20px;
  background-color: #F2F4F4;
  margin-bottom: 10px;
  border-radius: 10px;
  color: grey;
  border: 1px solid lightgrey;
}

#signup-container input:focus {
  border-color: black;
  outline: none !important;
}

#signup-container input:hover {
  border-color: black;
  transition: 0.2s;
}

#signup-form-submit-btn {
   background-color: #E3102E !important;
   color: white !important;
   width: 64% !important;
   border: #E3102E !important
}

#signup-form-submit-btn:hover {
  cursor: pointer;
  background-color: #A50E23 !important;

}

#signup-container p {
  color: black;
}

#signup-container p a {
  text-decoration: none;
  color: #E3102E;

}

#signup-container form ul {
  border: 1px solid transparent;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#signup-container form ul li {

}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  /* -------- top nav ----- */

  #top-nav {
    display: none;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: block;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
  }

  /* -------- signup --------- */

  #signup-container {
    width: 95%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 94% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  /* -------- top nav ----- */

  #top-nav {
    display: none;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: block;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
  }

  /* -------- signup --------- */

  #signup-container {
    width: 95%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 94% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  /* -------- top nav ----- */

  #top-nav {
    display: none;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: block;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
  }

  /* -------- signup --------- */

  #signup-container {
    width: 95%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 94% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* -------- top nav ----- */

  #top-nav {
    display: none;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: block;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
    width: 50%;
  }

  /* -------- signup --------- */

  #signup-container {
    width: 70%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 90% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* -------- top nav ----- */

  #top-nav {
    display: block;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: none;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
    width: 50%;
  }
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* -------- top nav ----- */

  #top-nav {
    display: block;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: none;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
    width: 50%;
  }
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {
  /* -------- top nav ----- */

  #top-nav {
    display: block;
  }

  /* ------ toggle-top-nav ----- */

  #toggle-top-nav {
    display: none;
  }

  /* ------ hidden mobile top naviagtion ----- */

  #background-greying {
    display: none;
  }

  #hidden-mobile-top-nav {
    display: none;
    width: 50%;
  }

  /* -------- signup --------- */

  #signup-container {
    width: 35%;
    margin-top: 10px;
  }

  #signup-container h1 {
    color: black;
    font-size: 25px;
  }

  #signup-container input {
    width: 85%;
    padding: 15px 10px;
    font-size: 20px;
  }

  #signup-form-submit-btn {
     width: 88% !important;
  }

  #signup-container p {
    color: black;
  }

  #signup-container p a {
    text-decoration: none;
    color: #E3102E;

  }

  #signup-container form ul {
    width: 80%;
    font-size: 13px;
  }
}
