body {
  background-color: #F4F6F6;
}


#teacher-login-container {
  border: 1px solid lightgrey;
  height: auto;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

#warning-box {
  border: 1px solid transparent;
  padding: 0px !important;
  margin-bottom: 20px;
}

#warning-box p {
  color: #E3102E;
  margin: 0px;
  padding: 0px;
}

/* ----------- teacher-login ------------ */
#teacher-login {
  text-align: center;
}

#teacher-login img {
  height: 150px;
  margin-top: 20px;
}

#teacher-login form {

}

#teacher-login input {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

#teacher-login input:hover {
  transition: 0.2s;
  border-color: #1E8449;
}

#teacher-login input:focus {
  border-color: #1E8449;
  outline: none !important;
}

#login-submit-btn {
  background-color: #1E8449;
  color: white;
  border: 1px solid #1E8449;
  width: 52% !important;
}

#login-submit-btn:hover {
  cursor: pointer;
  background-color: #2ECC71;
  transition: 0.2s;
}

#teacher-login p {
  width: 90%;
  margin: 0 auto;
}

#teacher-login p a {
  color: #1E8449;
  text-decoration: none;
}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  #teacher-login-container {
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  /* ----------- teacher-login ------------ */
  #teacher-login img {
    height: 130px;
  }

  #teacher-login input {
    width: 80%;
  }

  #login-submit-btn {
    width: 88% !important;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  #teacher-login-container {
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  /* ----------- teacher-login ------------ */
  #teacher-login img {
    height: 130px;
  }

  #teacher-login input {
    width: 80%;
  }

  #login-submit-btn {
    width: 88% !important;
  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  #teacher-login-container {
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  /* ----------- teacher-login ------------ */
  #teacher-login img {
    height: 130px;
  }

  #teacher-login input {
    width: 80%;
  }

  #login-submit-btn {
    width: 88% !important;
  }
}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {


}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

}
