body {
  background-color: #F4F6F6;
}

#vocab-container-wrapper {
  border: 1px solid lightgrey;
  height: auto;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

/* ------------ production-push--alert boxes --------------- */
#production-push-success-alert {
  position: fixed;
  z-index: 999 !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #186A3B;
  color: white;
  display: none;
}

#production-push-success-alert button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 25px;
}

#production-push-success-alert h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 900;
}

#production-push-success-alert p {
  text-align: center;
}

#production-push-error-alert {
  position: fixed;
  z-index: 999 !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #A50E23;
  color: white;
  display: none;
}

#production-push-error-alert button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 25px;
}

#production-push-error-alert h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 900;
}

#production-push-error-alert p {
  text-align: center;
}


/* ------------ header and explanation part --------------- */

#vocab-container-header-box {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
}

#vocab-container-header-box h1 {}

#vocab-container-header-box h3 {
}

#vocab-container-header-box p {}

#vocab-container-header-box ul {}

/* ------------ hidden table word record edit panel --------------- */
#hidden-table-record-edit-panel-background {
  background-color: black;
  z-index: 9;
  position: fixed;
  opacity: 0.6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

#hidden-table-record-edit-panel-foreground {
  background-color: white;
  border-radius: 5px;
  height: auto;
  width: 50%;
  margin: 0 auto;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  margin-top: 200px;
  text-align: center;
  padding: 20px 0px;
  padding-bottom: 40px;
  display: none;
}

#hidden-table-record-edit-panel-foreground form {
  display: inline-block;
}

#hidden-table-record-edit-panel-foreground input {
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#hidden-table-record-edit-panel-foreground input:focus {
  border-color: #2E4053;
  outline: none !important;
}

#edit-word-submit-btn {
  display: inline-block;
  border: 1px solid #2E4053;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #2E4053;
  color: white;
}

#edit-word-submit-btn:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: lightgrey;
  color: black;
}

#edit-word-cancel-btn {
  display: inline-block;
  border: 1px solid #E3102E;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #E3102E;
  font-size: 20px;
  color: white;
}

#edit-word-cancel-btn:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: #FADBD8;
  color: #E3102E;
}

/* ----------------------- Shortucts --------------------- */
#vocab-shortcut-links {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
}

#vocab-shortcut-links button {
  border: 1px solid #2E4053;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #2E4053;
  color: white;
  font-size: 20px;
  display: inline-block;
  margin: 0px 5px;
}

#vocab-shortcut-links button:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: lightgrey;
  color: black;
}

#hidden-shortuct-background-greying {
  z-index: 99 !important;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  display: none;
}

.shortcut-hidden-panel {
  border: 1px solid grey;
  z-index: 999 !important;
  background: white;
  position: fixed;
  top: 0;
  width: 53%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
  height: auto;
  padding-bottom: 40px;
  display: none;
}

.shortcut-hidden-panel h3 {

}

.shortcut-hidden-panel form {
  display: inline-block;
}

.shortcut-hidden-panel form input {
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.shortcut-hidden-panel form input:focus {
  border-color: #2E4053;
  outline: none !important;
}

.short-cut-submit-btn {
  display: inline-block;
  border: 1px solid #2E4053;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #2E4053;
  color: white;
}

.short-cut-submit-btn:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: lightgrey;
  color: black;
}

.shortcut-hidden-panel button {
  display: inline-block;
  border: 1px solid #E3102E;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #E3102E;
  font-size: 20px;
  color: white;
}

.shortcut-hidden-panel button:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: #FADBD8;
  color: #E3102E;
}

/* ------------ vocab A0 table --------------- */
#vocab-a0-table {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#vocab-a0-table h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

#vocab-a0-table form {
  margin-bottom: 20px;
}

#word-form-content {
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
}

#word-form-content:focus {
  border-color: #2E4053;
  outline: none !important;
}

#word-add-button {
  border: 1px solid #2E4053;
  padding: 5px;
  border-radius: 5px;
  background-color: #2E4053;
  color: white;
}

#word-add-button:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: lightgrey;
  color: black;
}


#vocab-container-table {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#vocab-container-table-row {
  border: 1px solid transparent;
}

#vocab-container-table-row:nth-child(even) {
  background-color: #E5E8E8;
}

#vocab-container-table-column {
  border-right: 1px solid lightgrey;
  display: inline-block;
  width: 19%;
}

#vocab-container-table-column:nth-child(5) {
  border: 1px;
  margin-left: 10px;
}

#vocab-container-table-column p {;
  margin: 0px;
  padding: 8px;
}

#vocab-container-table-column p b {
  font-weight: 800;
}


#vocab-container-table-column button {
  border: 1px solid #2E4053;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2E4053;
  color: white;
}

#edit-button {
  border: 1px solid #2E4053;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #2E4053;
  color: white;
  margin:0px;
  text-decoration: none;
  font-size: 13px;
}

#edit-button:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: lightgrey;
  color: black;
}


#vocab-container-table-column button:hover {
  cursor: pointer;
  transition:0.2s;
  background-color: lightgrey;
  color: black;
}

#hidden-edit-form {
  border: 1px solid transparent;
  display: none;
}

#hidden-edit-form form {
  padding: 0px;
  margin: 0px;
}

#hidden-edit-form form input {
  display: inline-block;
  width: 45%;
}

#hidden-edit-form form input:focus {
  border-color: #2E4053;
  outline: none !important;
}

/* -------------------- production push panels ------------------- */

.push-production-button {
  margin-top: 10px;
  background-color: #E3102E;
  color: white;
  border: 1px solid #E3102E;
  font-size: 15px;
  padding: 5px 8px;
  border-radius: 5px;
}

.push-production-button:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: darkred;
}

#production-push-hidden-panel-background-greying {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999 !important;
    background-color: black;
    opacity: 0.5;
    display: none;
}

.production-push-hidden-panel {
  background-color: white;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-top: 15%;
  border-radius: 8px;
  display: none;
}

.production-push-hidden-panel h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.production-push-hidden-panel form {
  display: inline-block;
}

.production-push-hidden-panel form input {
  margin-top: 10px;
  background-color: #2E4053 ;
  color: white;
  border: 1px solid #2E4053;
  font-size: 20px;
  padding: 5px 8px;
  border-radius: 5px;
}

.production-push-hidden-panel form input:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: green;
}

.production-push-hidden-panel button {
  display: inline-block;
  margin-top: 10px;
  background-color: #E3102E;
  color: white;
  border: 1px solid #E3102E;
  font-size: 20px;
  padding: 5px 8px;
  border-radius: 5px;
}

.production-push-hidden-panel button:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: darkred;
}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  #vocab-container-wrapper {
    width: 98%;
  }

  /* ------------ header and explanation part --------------- */
  #vocab-container-header-box p {
    font-size: 15px;
  }

  /* ----------------------- Shortucts --------------------- */
  #vocab-shortcut-links {
    width: 95%;
    padding: 5px 0px;
  }

  #vocab-shortcut-links button {
    padding: 5px 15px;
    font-size: 18px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }

  .shortcut-hidden-panel {
    width: 85%;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 40px;
  }

  .shortcut-hidden-panel form input {
    font-size: 20px;
    padding: 8px 0px;
    width: 100%;
    margin-bottom: 5px;
  }

  .short-cut-submit-btn {
    border: 1px solid #2E4053 !important;
  }

  .shortcut-hidden-panel button {
    padding: 8px 10px;
    width: 100%;
  }

  /* ------------ hidden table word record edit panel --------------- */

  #hidden-table-record-edit-panel-foreground {
    width: 90%;
    margin-top: 150px;
  }

  #hidden-table-record-edit-panel-foreground input {
    font-size: 20px;
    padding: 8px 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #edit-word-submit-btn {
    padding: 8px 15px !important;

  }

  #edit-word-cancel-btn {
    padding: 8px 5px;
    width: 78%;
    display: block;
    margin: 0 auto;
  }

  /* ------------ vocab A0 table --------------- */

  #vocab-container-table {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
  }

  #vocab-container-table-row {
    border: 1px solid black;
  }

  #vocab-container-table-column {
    border-right: 1px solid lightgrey;
    display: inline-block;
    width: 17%;
  }

  #vocab-container-table-column p {;
    margin: 0px;
    padding: 0px;
    font-size:10px;
  }

  #vocab-container-table-column button {
    font-size: 11px;
  }

  /* -------------------- production push panels ------------------- */

  .production-push-hidden-panel {
    width: 80%;
    margin-left: 5%;

  }


}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  #vocab-container-wrapper {
    width: 98%;
  }

  /* ------------ header and explanation part --------------- */
  #vocab-container-header-box p {
    font-size: 15px;
  }

  /* ----------------------- Shortucts --------------------- */
  #vocab-shortcut-links {
    width: 95%;
    padding: 5px 0px;
  }

  #vocab-shortcut-links button {
    padding: 5px 15px;
    font-size: 18px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }

  .shortcut-hidden-panel {
    width: 85%;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 40px;
  }

  .shortcut-hidden-panel form input {
    font-size: 20px;
    padding: 8px 0px;
    width: 100%;
    margin-bottom: 5px;
  }

  .short-cut-submit-btn {
    border: 1px solid #2E4053 !important;
  }

  .shortcut-hidden-panel button {
    padding: 8px 10px;
    width: 100%;
  }

  /* ------------ hidden table word record edit panel --------------- */

  #hidden-table-record-edit-panel-foreground {
    width: 90%;
    margin-top: 150px;
  }

  #hidden-table-record-edit-panel-foreground input {
    font-size: 20px;
    padding: 8px 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #edit-word-submit-btn {
    padding: 8px 15px !important;

  }

  #edit-word-cancel-btn {
    padding: 8px 5px;
    width: 65%;
    display: block;
    margin: 0 auto;
  }

  /* ------------ vocab A0 table --------------- */

  #vocab-container-table {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
  }

  #vocab-container-table-row {
    border: 1px solid black;
  }

  #vocab-container-table-column {
    border-right: 1px solid lightgrey;
    display: inline-block;
    width: 17%;
  }

  #vocab-container-table-column p {;
    margin: 0px;
    padding: 0px;
    font-size:10px;
  }

  #vocab-container-table-column button {
    font-size: 11px;
  }

  /* -------------------- production push panels ------------------- */

  .production-push-hidden-panel {
    width: 80%;
    margin-left: 5%;

  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  #vocab-container-wrapper {
    width: 98%;
  }

  /* ------------ header and explanation part --------------- */
  #vocab-container-header-box p {
    font-size: 15px;
  }

  /* ----------------------- Shortucts --------------------- */
  #vocab-shortcut-links {
    width: 95%;
    padding: 5px 0px;
  }

  #vocab-shortcut-links button {
    padding: 5px 15px;
    font-size: 18px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }

  .shortcut-hidden-panel {
    width: 85%;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 40px;
  }

  .shortcut-hidden-panel form input {
    font-size: 20px;
    padding: 8px 0px;
    width: 100%;
    margin-bottom: 5px;
  }

  .short-cut-submit-btn {
    border: 1px solid #2E4053 !important;
  }

  .shortcut-hidden-panel button {
    padding: 8px 10px;
    width: 100%;
  }

  /* ------------ hidden table word record edit panel --------------- */

  #hidden-table-record-edit-panel-foreground {
    width: 90%;
    margin-top: 150px;
  }

  #hidden-table-record-edit-panel-foreground input {
    font-size: 20px;
    padding: 8px 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #edit-word-submit-btn {
    padding: 8px 15px !important;

  }

  #edit-word-cancel-btn {
    padding: 8px 5px;
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  /* ------------ vocab A0 table --------------- */

  #vocab-container-table {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
  }

  #vocab-container-table-row {
    border: 1px solid black;
  }

  #vocab-container-table-column {
    border-right: 1px solid lightgrey;
    display: inline-block;
    width: 17%;
  }

  #vocab-container-table-column p {;
    margin: 0px;
    padding: 0px;
    font-size:10px;
  }

  #vocab-container-table-column button {
    font-size: 11px;
  }

  /* -------------------- production push panels ------------------- */

  .production-push-hidden-panel {
    width: 80%;
    margin-left: 5%;

  }
}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* ------------ hidden table word record edit panel --------------- */

  #hidden-table-record-edit-panel-foreground {
    width: 90%;
    margin-top: 150px;
  }

  #hidden-table-record-edit-panel-foreground input {
    font-size: 20px;
    padding: 8px 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #edit-word-submit-btn {
    padding: 8px 15px !important;

  }

  #edit-word-cancel-btn {
    padding: 8px 5px;
    width: 33%;
    display: block;
    margin: 0 auto;
  }

  #vocab-container-table {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
  }

  #vocab-container-table-row {
    border: 1px solid black;
  }

  #vocab-container-table-column {
    border-right: 1px solid lightgrey;
    display: inline-block;
    width: 18%;
  }

  #vocab-container-table-column p {;
    margin: 0px;
    padding: 5px 5px;
    font-size: 15px;
  }

  #vocab-container-table-column button {
    font-size: 15px;
  }

  /* ----------------------- Shortucts --------------------- */
  #vocab-shortcut-links {
    width: 95%;
    padding: 5px 0px;
  }

  #vocab-shortcut-links button {
    padding: 5px 15px;
    font-size: 18px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }

  .shortcut-hidden-panel {
    width: 83%;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 40px;
  }

  .shortcut-hidden-panel form input {
    font-size: 18px;
    padding: 8px 10px;
    margin-bottom: 5px;
  }

}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* ----------------------- Shortucts --------------------- */
  #vocab-shortcut-links {
    width: 95%;
    padding: 5px 0px;
  }

  #vocab-shortcut-links button {
    padding: 5px 15px;
    font-size: 18px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }

  .shortcut-hidden-panel {
    width: 63%;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 40px;
  }

  .shortcut-hidden-panel form input {
    font-size: 18px;
    padding: 8px 10px;
    margin-bottom: 5px;
  }
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

}
