{% extends 'teacher_base.html' %} {% load static %} {% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_language_explore/course_status.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" /> {% endblock %} {% block content %}

<div id="go-back-container">
  <a id="go-back-button" href="{% url 'teacher_course_overview' %}"><span class="fa fa-arrow-left"></span>  Overview</a>
</div>


<div id="course-status-container">
  <!-- Info part -->
  <div id="course-info-part">
    <h1><b>Update Course Status</h1>
  </div>

  <div id="course-status-horizontal-line"></div>

  <!-- status part -->
  <div id="course-status-part">
    <h2>Course Status</h2>

    {% with zero="0" %}

    {% endwith %}

    <p>A0</p>
    <form id="course-progress-status-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token %}
        <select name="progress_amount">
          {% if current_teacher_profile.teacher_course.a0 == 0 %}
            <option value="0" selected>0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a0 == 10 %}
            <option value="0">0%</option>
            <option value="10" selected>10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a0 == 25 %}
            <option value="0">0%</option>
            <option value="10" >10%</option>
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a0 == 50 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50" selected>50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a0 == 75 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75" selected>75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a0 == 100 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
          {% endif %}
        </select>
        <input type="submit" value="submit" name="teacher_course_status_a0_progress_submit_btn" />
    </form>

    <p>A1</p>
    <form id="course-progress-status-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token%}
        <select name="progress_amount">
          {% if current_teacher_profile.teacher_course.a1 == 0 %}
            <option value="0" selected>0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a1 == 10 %}
            <option value="0">0%</option>
            <option value="10" selected>10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a1 == 25 %}
            <option value="0">0%</option>
            <option value="10" >10%</option>
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a1 == 50 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50" selected>50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a1 == 75 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75" selected>75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a1 == 100 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
          {% endif %}
        </select>
        <input type="submit" value="submit" name="teacher_course_status_a1_progress_submit_btn" />
    </form>

    <p>A2</p>
    <form id="course-progress-status-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token%}
        <select name="progress_amount">
          {% if current_teacher_profile.teacher_course.a2 == 0 %}
            <option value="0" selected>0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a2 == 10 %}
            <option value="0">0%</option>
            <option value="10" selected>10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a2 == 25 %}
            <option value="0">0%</option>
            <option value="10" >10%</option>
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a2 == 50 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50" selected>50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a2 == 75 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75" selected>75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.a2 == 100 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
          {% endif %}
        </select>
        <input type="submit" value="submit" name="teacher_course_status_a2_progress_submit_btn" />
    </form>

    <p>B1</p>
    <form id="course-progress-status-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token%}
        <select name="progress_amount">
          {% if current_teacher_profile.teacher_course.b1 == 0 %}
            <option value="0" selected>0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b1 == 10 %}
            <option value="0">0%</option>
            <option value="10" selected>10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b1 == 25 %}
            <option value="0">0%</option>
            <option value="10" >10%</option>
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b1 == 50 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50" selected>50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b1 == 75 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75" selected>75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b1 == 100 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
          {% endif %}
        </select>
        <input type="submit" value="submit" name="teacher_course_status_b1_progress_submit_btn" />
    </form>

    <p>B2</p>
    <form id="course-progress-status-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token%}
        <select name="progress_amount">
          {% if current_teacher_profile.teacher_course.b2 == 0 %}
            <option value="0" selected>0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b2 == 10 %}
            <option value="0">0%</option>
            <option value="10" selected>10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b2 == 25 %}
            <option value="0">0%</option>
            <option value="10" >10%</option>
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b2 == 50 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50" selected>50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b2 == 75 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75" selected>75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.b2 == 100 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
          {% endif %}
        </select>
        <input type="submit" value="submit" name="teacher_course_status_b2_progress_submit_btn" />
    </form>

    <p>C1</p>
    <form id="course-progress-status-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token%}
        <select name="progress_amount">
          {% if current_teacher_profile.teacher_course.c1 == 0 %}
            <option value="0" selected>0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.c1 == 10 %}
            <option value="0">0%</option>
            <option value="10" selected>10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.c1 == 25 %}
            <option value="0">0%</option>
            <option value="10" >10%</option>
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.c1 == 50 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50" selected>50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.c1 == 75 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75" selected>75%</option>
            <option value="100">100%</option>
          {% elif current_teacher_profile.teacher_course.c1 == 100 %}
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
          {% endif %}
        </select>
        <input type="submit" value="submit" name="teacher_course_status_c1_progress_submit_btn" />
    </form>

  </div>

  <div id="course-status-horizontal-line"></div>

  <!-- status updates -->
  <div id="course-update-part">
    <h2>Status Updates</h2>

    <form id="course-update-part-form" method="POST" action="{% url 'teacher_course_status_update' %}">
        {% csrf_token %}
        <input type="text" placeholder="Update Title" name="status_title" />
        <textarea placeholder="Update content" name="status_content"></textarea>
        <input type="submit" value="Submit" id="status-update-submit-btn" name="teacher_course_status_update_submit_btn" />
    </form>

    {% for status_update in all_status_updates %}
      <!-- status cell -->
      <div id="status-update-cell">
        <div id="status-update-cell-top-part">
          <div id="status-update-cell-top-part-left-part">
            {% if status_update.teacher.profile_photo %}
              <div id="status-updater-photo" style="background-image: url('{{ status_update.teacher.profile_photo.url  }}');"></div>
            {% else %}
              <div id="status-updater-photo" style="background-image: url('');"></div>
            {% endif %}
          </div>
          <div id="status-update-cell-top-part-right-part">
            <h2>{{ status_update.title }}</h2>
            <p>{{ status_update.creation_date }}</p>
          </div>
        </div>
        <div id="status-update-cell-content">
          <p>
            {{ status_update.content|linebreaks }}
          </p>
        </div>
      </div>
      <!-- /cell -->
    {% endfor %}

  </div>

</div>



{% endblock %}
