{% extends 'teacher_base.html' %} {% load static %} {% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_language_explore/course_status.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" /> {% endblock %} {% block content %}

<div id="go-back-container">
  <a id="go-back-button" href=""><span class="fa fa-arrow-left"></span>  Overview</a>
</div>


<div id="course-status-container">
  <!-- Info part -->
  <div id="course-info-part">
    <h1><b>{{ current_course.course_language|title }}</b> for <b>{{ current_course.course_speakers_language|title  }}</b> speakers</h1>
  </div>

  <div id="course-status-horizontal-line"></div>

  <!-- status part -->
  <div id="course-status-part">
    <h2>Course Status</h2>

    <p>A0</p>
    <div id="progress-bar">
      {% if current_course.a0 == 0 %}
        <div id="progress-amount-0-percent"></div>
        <span>0%</span>
      {% elif current_course.a0 == 10 %}
        <div id="progress-amount-10-percent"></div>
        <span>10%</span>
      {% elif current_course.a0 == 25 %}
        <div id="progress-amount-25-percent"></div>
        <span>25%</span>
      {% elif current_course.a0 == 50 %}
        <div id="progress-amount-50-percent"></div>
        <span>50%</span>
      {% elif current_course.a0 == 75 %}
        <div id="progress-amount-75-percent"></div>
        <span>75%</span>
      {% elif current_course.a0 == 100 %}
        <div id="progress-amount-100-percent"></div>
        <span>100%</span>
      {% endif %}
    </div>

    <p>A1</p>
    <div id="progress-bar">
      {% if current_course.a1 == 0 %}
        <div id="progress-amount-0-percent"></div>
        <span>0%</span>
      {% elif current_course.a1 == 10 %}
        <div id="progress-amount-10-percent"></div>
        <span>10%</span>
      {% elif current_course.a1 == 25 %}
        <div id="progress-amount-25-percent"></div>
        <span>25%</span>
      {% elif current_course.a1 == 50 %}
        <div id="progress-amount-50-percent"></div>
        <span>50%</span>
      {% elif current_course.a1 == 75 %}
        <div id="progress-amount-75-percent"></div>
        <span>75%</span>
      {% elif current_course.a1 == 100 %}
        <div id="progress-amount-100-percent"></div>
        <span>100%</span>
      {% endif %}
    </div>

    <p>A2</p>
    <div id="progress-bar">
      {% if current_course.a2 == 0 %}
        <div id="progress-amount-0-percent"></div>
        <span>0%</span>
      {% elif current_course.a2 == 10 %}
        <div id="progress-amount-10-percent"></div>
        <span>10%</span>
      {% elif current_course.a2 == 25 %}
        <div id="progress-amount-25-percent"></div>
        <span>25%</span>
      {% elif current_course.a2 == 50 %}
        <div id="progress-amount-50-percent"></div>
        <span>50%</span>
      {% elif current_course.a2 == 75 %}
        <div id="progress-amount-75-percent"></div>
        <span>75%</span>
      {% elif current_course.a2 == 100 %}
        <div id="progress-amount-100-percent"></div>
        <span>100%</span>
      {% endif %}
    </div>

    <p>B1</p>
    <div id="progress-bar">
      {% if current_course.b1 == 0 %}
        <div id="progress-amount-0-percent"></div>
        <span>0%</span>
      {% elif current_course.b1 == 10 %}
        <div id="progress-amount-10-percent"></div>
        <span>10%</span>
      {% elif current_course.b1 == 25 %}
        <div id="progress-amount-25-percent"></div>
        <span>25%</span>
      {% elif current_course.b1 == 50 %}
        <div id="progress-amount-50-percent"></div>
        <span>50%</span>
      {% elif current_course.b1 == 75 %}
        <div id="progress-amount-75-percent"></div>
        <span>75%</span>
      {% elif current_course.b1 == 100 %}
        <div id="progress-amount-100-percent"></div>
        <span>100%</span>
      {% endif %}
    </div>

    <p>B2</p>
    <div id="progress-bar">
      {% if current_course.b2 == 0 %}
        <div id="progress-amount-0-percent"></div>
        <span>0%</span>
      {% elif current_course.b2 == 10 %}
        <div id="progress-amount-10-percent"></div>
        <span>10%</span>
      {% elif current_course.b2 == 25 %}
        <div id="progress-amount-25-percent"></div>
        <span>25%</span>
      {% elif current_course.b2 == 50 %}
        <div id="progress-amount-50-percent"></div>
        <span>50%</span>
      {% elif current_course.b2 == 75 %}
        <div id="progress-amount-75-percent"></div>
        <span>75%</span>
      {% elif current_course.b2 == 100 %}
        <div id="progress-amount-100-percent"></div>
        <span>100%</span>
      {% endif %}
    </div>

    <p>C1</p>
    <div id="progress-bar">
      {% if current_course.c1 == 0 %}
        <div id="progress-amount-0-percent"></div>
        <span>0%</span>
      {% elif current_course.c1 == 10 %}
        <div id="progress-amount-10-percent"></div>
        <span>10%</span>
      {% elif current_course.c1 == 25 %}
        <div id="progress-amount-25-percent"></div>
        <span>25%</span>
      {% elif current_course.c1 == 50 %}
        <div id="progress-amount-50-percent"></div>
        <span>50%</span>
      {% elif current_course.c1 == 75 %}
        <div id="progress-amount-75-percent"></div>
        <span>75%</span>
      {% elif current_course.c1 == 100 %}
        <div id="progress-amount-100-percent"></div>
        <span>100%</span>
      {% endif %}
    </div>

  </div>

  <div id="course-status-horizontal-line"></div>

  <!-- contributors -->
  <div id="course-contributors-part">
    <h2>Conributors</h2>
    <div id="course-contributors-profile-photos">
      {% for contributer in current_course_contributors %}
        <div id="teacher-profile-photo" style="background-image: url('{{ contributer.profile_photo.url }}');"></div>
      {% endfor %}
    </div>
  </div>

  <div id="course-status-horizontal-line"></div>

  <!-- status updates -->
  <div id="course-update-part">
    <h2>Status Updates</h2>

    {% for status_update in current_course_status_updates %}
      <!-- status cell -->
      <div id="status-update-cell">
        <div id="status-update-cell-top-part">
          <div id="status-update-cell-top-part-left-part">
            {% if status_update.teacher.profile_photo %}
              <div id="status-updater-photo" style="background-image: url('{{ status_update.teacher.profile_photo.url  }}');"></div>
            {% else %}
              <div id="status-updater-photo" style="background-image: url('');"></div>
            {% endif %}
          </div>
          <div id="status-update-cell-top-part-right-part">
            <h2>{{ status_update.title }}</h2>
            <p>{{ status_update.creation_date }}</p>
          </div>
        </div>
        <div id="status-update-cell-content">
          <p>
              {{ status_update.content|linebreaks }}
          </p>
        </div>
      </div>
      <!-- /cell -->
    {% endfor %}
  </div>

</div>



{% endblock %}
