{% extends 'setup_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_vocab_container/learning_start.css' %}" />
{% endblock %}

{% block content %}

<div id="vocab-learn-start-container">
  <h1>Current Lesson Words</h1>

  <div id="words-table">

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p><b>id</b></p>
      </div>
      <div id="words-table-column">
        <p><b>spanish</b></p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p><b>english</b></p>
      </div>
    </div>

    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

    <!-- ROW -->
    <div id="words-table-row">
      <div id="words-table-column">
        <p>1</p>
      </div>
      <div id="words-table-column">
        <p>hola</p>
      </div>
      <div id="words-table-column" class="words-table-column-right">
        <p>hello</p>
      </div>
    </div>
    <!-- /row -->

  </div>

  <a href="">Let's Start <span class="fa fa-paper-plane"></span></a>

</div>

{% endblock %}
