{% extends 'setup_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_vocab_container/learning.css' %}" />
{% endblock %}

{% block content %}

<!-- hidden error panel -->
<div id="background-greying"></div>
<div id="hidden-error-panel">
  <button id="error-panel-close-button"><span class="fa fa-close"></span></button>
  <h3>Error Reporting</h3>
  <div id="error-panel-operations-content">
    <textarea placeholder="Please type in your error report" id="error-content"></textarea>
    <button id="error-report-btn"><span class="fa fa-flag"></span> Report</button>
  </div>

</div>


<div id="vocab-learn-container">

  <!-- top part -->
  <div id="top-part">
    <a href="{% url 'index' %}"><span class="fa fa-close"></span></a>

    <div id="progress-bar">
        <div id="progress-status"></div>
    </div>
  </div>

  <!-- learn content -->
  <!--
  <div id="middle-part">
    <h3>Jamais</h3>
    <div id="middle-part-answer-selections">
      <div class="answer-cell" tabindex="-1">
        <p><span id="answer-select-color">1</span> Never</p>
      </div>
      <div class="answer-cell" tabindex="-1">
        <p><span id="answer-select-color">2</span> How</p>
      </div>
      <div class="answer-cell" tabindex="-1">
        <p><span id="answer-select-color">3</span> Know</p>
      </div>
      <div class="answer-cell" tabindex="-1">
        <p><span id="answer-select-color">4</span> Oteki</p>
      </div>
    </div>
  </div>

 -->

  <div id="questions-canvas">

  </div>


  <!-- bottom check part -->
  <div id="bottom-part">
    <button id="report-button"><span class="fa fa-flag"></span> Report</button>
    <button class="check-button" id="check-button" ><span class="fa fa-check"></span> Check</button>
    <button class="check-button" id="next-button"><span class="fa fa-arrow-right"></span> Next</button>

    <form id="finish-button" method="POST" action="{% url 'basic_vocab_review' course_language speakers_langauge %}">
      {% csrf_token %}
      <input type="hidden" name="hidden_errors_array" id="hidden_errors_input"  />
      <input type="submit" value="Finish" class="check-button" name="vocab_review_lesson_finish_button"/>
    </form>
  </div>

  <script>
    let lesson_pack_words = {{ review_pack_words|safe }};
    let current_lesson_length = {{ current_lesson_length|safe }};

  </script>

  <script src="{% static 'js/basic_vocab_container/review.js' %}"></script>

  <!-- error reporting panel toggle logic in javascript -->
  <script>
    var panel_open_button = document.getElementById("report-button");
    var panel_close_button = document.getElementById("error-panel-close-button");
    var panel = document.getElementById("hidden-error-panel");
    var panel_background_greying = document.getElementById("background-greying");

    panel_open_button.onclick = function() {
      panel.style.display = "block";
      panel_background_greying.style.display = "block";
    }

    panel_close_button.onclick = function() {
      panel.style.display = "none";
      panel_background_greying.style.display = "none";
    }

  </script>
</div>

{% endblock %}
