{% extends 'teacher_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_forum/landing_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_dictionary/build.css' %}" />
{% endblock %}

{% block content %}

<!-- dictionary build container -->
<div id="dictioanry-build-container">

  <h1>Dictionary Builder</h1>
  <h3>(Spanish for English speakers)</h3>

  {% if empty_input == True %}
    <p style="color:red;">Empty input</p>
  {% endif %}

  <form method="POST" id="teacher-word-add-form" action="{% url 'teacher_dictionary_build' dict_lang dict_speaker_language %}">
    {% csrf_token %}
    <input type="text" placeholder="{{ current_dictionary.dictionary_language|title }}" name="word" />
    <input type="text" placeholder="{{ current_dictionary.dictionary_speakers_language|title }}" name="word_translation"/>
    <input type="submit" value="Add" name="teacher_dict_word_add_submit_btn" id="teacher-word-add-form-submit-btn"/>
  </form>

  <form id="production-push-form">
    <input type="submit" value="push to production" />
  </form>

  <div id="horizontal-line"></div>

  <!-- displaying all of the added words -->

  {% for word in all_words %}
    <div id="cell-row">
      <div id="cell-row-left-box">
          <p>{{ word.word }}</p>
      </div>
      <div id="cell-row-middle-box">
          <span class="fa fa-arrow-right"></span>
      </div>
      <div id="cell-row-right-box">
        <p>{{ word.translation }}</p>
      </div>
      <a href="{% url 'teacher_dictionary_update' word.id %}">edit</a>
    </div>
  {% endfor %}

</div>

{% endblock %}
