{% extends 'teacher_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_forum/landing_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_dictionary/explore.css' %}" />
{% endblock %}

{% block content %}

<!-- dictionary container -->
<div id="dictionary-explore-container">
  <h1>Dictionary Explore</h1>

  {% for dict in all_dictionaries %}
    <a href="">{{ dict.dictionary_language|title }} to {{ dict.dictionary_speakers_language|title }}</a>
  {% endfor %}

</div>

{% endblock %}
