{% extends 'setup_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authentication/welcome.css' %}" />
{% endblock %}

{% block content %}

<!-- welcome banner -->
<div id="welcome-banner">
  <h1>Welcome!</h1>
  <p>
      Please, choose the language you would like to learn:
  </p>
</div>

<!-- language cells -->
<div id="language-cell-container">

  {% for language in all_languages %}
    <!-- flag cell -->
    <div id="flag-cell">
      <div id="flag" style="background-image: url('{{ language.flag.url }}');" ></div>
      <h1>{{ language.name }}</h1>
      <p>
          ... Learners
      </p>
      <form action="{% url 'welcome' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{ language.name }}" name="hidden_langauge"/>
          <input type="submit" value="Choose" name="langauge_choose_submit_btn"/>
      </form>
    </div>
  {% endfor %}

</div>

{% endblock %}
