{% extends 'teacher_base.html' %}
{% load static %}
{% load filters %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_forum/landing_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_reading_builder/build.css' %}" />
{% endblock %}

{% block content %}

<!--  container -->
<div id="teacher-reading-build-container">

  <!-- entreance banner -->
  <h1>Reading Builder</h1>
  <h3>(Spanish for English speakers)</h3>

  <div id="horizontal-line"></div>

  <!-- main shortcut buttons -->
  <div id="lesson-add-btn-container">
    <button id="open_hidden_add_panel_btn"><span class="fa fa-plus"></span> Add a new lesson</button>
  </div>

  {% if empty_lesson_name == True %}
    <script>alert("You cannot enter empty input!")</script>
  {% endif %}

  <div id='hidden-lesson-add-panel-bg-greying'></div>
  <div id="hidden-lesson-add-panel">
    <button id="hidden-lesson-add-panel-close-btn"><span class="fa fa-close"></span></button>
    <form method="POST" action="{% url 'teacher_reading_build' current_teacher_profile.teacher_course.course_language current_teacher_profile.teacher_course.course_speakers_language %}">
        {% csrf_token %}
        <input type="text" placeholder="Lesson name" name="lesson_name" />
        <select name="lesson_level">
          <option value="a0">A0</option>
          <option value="a1">A1</option>
          <option value="a2">A2</option>
          <option value="b1">B1</option>
          <option value="b2">B2</option>
          <option value="c1">C1</option>
          <option value="advanced">Advanced</option>
        </select>
        <input id="create-new-lesson-submit-btn" type="submit" value="CREATE" name="teacher_reading_builder_lesson_add_button" />
    </form>
  </div>

  <script>
    let hidden_lesson_add_panel = document.getElementById("hidden-lesson-add-panel");
    let hidden_lesson_add_panel_bg = document.getElementById("hidden-lesson-add-panel-bg-greying");
    let open_hidden_add_panel_btn = document.getElementById("open_hidden_add_panel_btn")
    let close_hidden_add_panel_btn = document.getElementById("hidden-lesson-add-panel-close-btn");

    open_hidden_add_panel_btn.onclick = function() {
      hidden_lesson_add_panel.style.display = "block";
      hidden_lesson_add_panel_bg.style.display = "block";
    }

    close_hidden_add_panel_btn.onclick = function() {
      hidden_lesson_add_panel.style.display = "none";
      hidden_lesson_add_panel_bg.style.display = "none";
    }
  </script>

  <div id="production-push-buttons">
      <button>push A0 to production</button>
      <button>push A1 to production</button>
      <button>push A2 to production</button>
      <button>push B1 to production</button>
      <button>push B2 to production</button>
      <button>push C1 to production</button>
      <button>push AD to production</button>
  </div>

  <div id="prod-push-success-notification">
    <button id="prod-push-success-close-btn"><span class="fa fa-close"></span></button>
    <p>Production push was successful!</p>
  </div>

  <div id="prod-push-error-notification">
    <button id="prod-push-error-close-btn"><span class="fa fa-close"></span></button>
    <p>Production push was interrupted by an error!</p>
  </div>

  <script>
    let prod_success_panel = document.getElementById("prod-push-success-notification");
    let prod_success_close_btn = document.getElementById("prod-push-success-close-btn");

    let prod_error_panel = document.getElementById("prod-push-error-notification");
    let prod_error_close_btn = document.getElementById("prod-push-error-close-btn");

    prod_success_close_btn.onclick = function() {
      prod_success_panel.style.display = "none";
    }

    prod_error_close_btn.onclick = function() {
      prod_error_panel.style.display = "none";
    }

  </script>

  <div id="horizontal-line"></div>

  <!-- displaying all of the lessons with levels and sentences and tolerated typing -->

  <h2>A0</h2>


  <!-- ### THIS IS JUST HERE FOR FUTURE REFERENCE AND STYLE CHANGES
  <div id="lesson-toggle-button">
    <h3 id="lesson-toggle-button-click-point">Lesson Header</h3>

    <div id="hidden-lesson-content-container">
      <h3>Level 1 <a href=""><span class="fa fa-plus"></span> sentence</a></h3>
      <div id="lesson-sentence-cell">
          <p><span class="fa fa-star"></span> Hello my name is Demir. <a href="">edit</a></p>
          <p id="translated-sentence">This is the translated version.</p>
          <ul>
              <li>Tolerated lorem ipsum.</li>
              <li>Tolerated lorem ipsum.</li>
          </ul>
      </div>

      <h3>Level 2 <a href=""><span class="fa fa-plus"></span> sentence</a></h3>
      <div id="lesson-sentence-cell">
          <p><span class="fa fa-star"></span> Hello my name is Demir. <a href="">edit</a></p>
          <p id="translated-sentence">This is the translated version.</p>
          <ul>
              <li>Tolerated lorem ipsum.</li>
              <li>Tolerated lorem ipsum.</li>
          </ul>
      </div>

      <h3>Level 3 <a href=""><span class="fa fa-plus"></span> sentence</a></h3>
      <div id="lesson-sentence-cell">
          <p><span class="fa fa-star"></span> Hello my name is Demir. <a href="">edit</a></p>
          <p id="translated-sentence">This is the translated version.</p>
          <ul>
              <li>Tolerated lorem ipsum.</li>
              <li>Tolerated lorem ipsum.</li>
          </ul>
      </div>

    </div>
  </div>

  <script>
    let lesson_open_close_btn = document.getElementById("lesson-toggle-button-click-point");
    let lesson_hidden_content = document.getElementById("hidden-lesson-content-container");

    lesson_open_close_btn.onclick = function() {
      if (lesson_hidden_content.style.display == "block") {
        lesson_hidden_content.style.display = "none";
      } else {
        lesson_hidden_content.style.display = "block";
      }

    }
  </script>
  -->

  {% with one="1" two="2" three="3" %}
  {% for lesson in a0_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a0_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a0_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a0_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}

  <br />
  <h2>A1</h2>

  {% with one="1" two="2" three="3" %}
  {% for lesson in a1_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}

  <br />
  <h2>A2</h2>
  {% with one="1" two="2" three="3" %}
  {% for lesson in a2_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a2_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a2_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in a2_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}

  <br />
  <h2>B1</h2>
  {% with one="1" two="2" three="3" %}
  {% for lesson in b1_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in b1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in b1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in b1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}

  <br />
  <h2>B2</h2>
  {% with one="1" two="2" three="3" %}
  {% for lesson in b2_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in b2_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in b2_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in b2_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}

  <br />
  <h2>C1</h2>
  {% with one="1" two="2" three="3" %}
  {% for lesson in c1_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in c1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in c1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in c1_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}

  <br />
  <h2>Advanced</h2>
  {% with one="1" two="2" three="3" %}
  {% for lesson in advanced_lessons %}
    <div id="lesson-toggle-button">
      <h3 id="lesson-toggle-button-click-point" class="lesson_toggle_buttons">{{ lesson.title }}</h3>

      <div id="hidden-lesson-content-container" class='lesson_containers'>
        <h3>Level 1 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in advanced_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == one %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 2 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in advanced_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == two %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

        <h3>Level 3 <a href="{% url 'teacher_reading_add_sentence' %}"><span class="fa fa-plus"></span> sentence</a></h3>
        {% for sentence in advanced_lesson_sentences|get_key_value:lesson.id %}
          {% if sentence.level == three %}
            <div id="lesson-sentence-cell">
                <p><span class="fa fa-star"></span> {{ sentence.question_prompt }} <a href="{% url 'teacher_reading_update' sentence.id %}">edit</a></p>
                <p id="translated-sentence">{{ sentence.answer }}</p>
            </div><!-- /cell -->
          {% endif %}
        {% endfor %}

      </div><!--/hidden content container -->
    </div><!--/lesson toggle btn -->
  {% endfor %}
  {% endwith %}


  <script>
    let lesson_toggle_buttons = document.getElementsByClassName("lesson_toggle_buttons");
    let lesson_containers = document.getElementsByClassName("lesson_containers")

    const open_lessons = function(i, event) {
      if (lesson_containers[i].style.display == "block") {
        lesson_containers[i].style.display = "none";
      } else {
          lesson_containers[i].style.display = "block";
      }
    }

    for (var i=0; i < lesson_toggle_buttons.length; i++) {
      lesson_toggle_buttons[i].addEventListener("click", open_lessons.bind(null, i));
    }

  </script>

</div>

{% endblock %}
