{% extends 'teacher_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_forum/landing_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_reading_builder/update.css' %}" />
{% endblock %}

{% block content %}

<div id="update-container">

  {% if empty_input == True %}
    <script>alert("you cannot enter empty input")</script>
  {% endif %}

  <!-- update -->
  <h1>Update</h1>
  <form action="{% url 'teacher_reading_update' id %}" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="edit your sentence" value="{{ current_lesson_sentence.question_prompt }}" name="new_question_prompt" />
      <input type="text" placeholder="edit the translation" value="{{ current_lesson_sentence.answer }}" name="new_answer" />
      <input type="submit" value="submit" id="submit-btn" name="teacher_reading_sentence_update_submit_btn" />
  </form>

  <div id="horizontal-line"></div>

  <!-- list and addForm of tolerance -->
  <h2>Typo Tolerance</h2>

  <p>Current answer: <b>{{ current_lesson_sentence.answer }}</b></p>
  <ul>
      {% for tolerance in current_sentence_tolerances %}
        <li>{{ tolerance.tolerated_answer }}</li>
      {% endfor %}
  </ul>

  <form action="{% url 'teacher_reading_update' id %}" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Add a new typo tolerance" name="tolerance" />
      <input type="submit" value="add typo" id="submit-btn" name="teacher_reading_tolerance_update_submit_btn"/>
  </form>

  <!-- delete -->
  <div id="horizontal-line"></div>

  <h3><span class="fa fa-trash"></span> Delete</h3>

  <form action="{% url 'teacher_reading_update' id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="delete" id="submit-btn" name="teacher_reading_sentence_delete_submit_btn" />
  </form>


</div>


{% endblock %}
