{% extends 'teacher_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher_forum/read.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
{% endblock %}

{% block content %}

  <div id="teacher-forum-container">

    <!-- post content -->
    <div id="forum-post-content">
      <div id="forum-post-content-left-part">
        {% if current_post.teacher.profile_photo %}
          <div id="profile-photo" style="background-image: url('{{ current_post.teacher.profile_photo.url }}');"></div>
        {% else %}
          <div id="profile-photo"></div>
        {% endif %}
      </div>
      <div id="forum-post-content-right-part">
        <div id="forum-post-content-right-part-top">
          <h1>{{ current_post.post_title }}</h1>
          <p><a href="{% url 'teacher_profile_other_user_overview' current_post.teacher.user.username %}">@{{ current_post.teacher.user.username }}</a> (<b>#{{ current_post.teacher.course_language }}</b> teacher)</p>
        </div>
        <div id="forum-post-content-right-part-middle">
          <p>
            {{ current_post.content|linebreaks }}
          </p>
        </div>
        <div id="forum-post-content-right-part-bottom">
          <!-- operations -->
          <p>{{ current_post.karma }}</p>
          <!-- upvote -->
          <form method="POST" action="{% url 'teacher_forum_read' current_post.id %}">
              {% csrf_token %}
              <input type="submit" value="&#9650;" name="teacher_forum_read_post_upvote_btn" />
          </form>
          <!-- downvote -->
          <form method="POST" action="{% url 'teacher_forum_read' current_post.id %}">
            {% csrf_token %}
            <input type="submit" value="&#9660;" name="teacher_forum_read_post_downvote_btn" />
          </form>
          <p>| {{ current_post.creation_date }} |</p>
          {% if current_user_is_teacher == True %}
            <a href="{% url 'teacher_forum_update' current_post.id %}">EDIT</a>
            <a href="" id="hidden_delete_open_button">DELETE</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="horizontal-line"></div>

    <!-- create comment -->
    <div id="forum-post-create-comment">
      <form method="POST" action="{% url 'teacher_forum_read' current_post.id %}">
          {% csrf_token %}
          <textarea placeholder="Leave a comment ..." name="comment_content"></textarea>
          <input type="submit" value="POST" name="teacher_forum_comment_subtmit_btn" />
      </form>
    </div>

    <!-- comment listings -->
    <div id="comment-section">

      {% for comment in all_post_comments %}
        <!-- comment cell -->
        <div id="comment-cell">
          <div id="comment-cell-left-part">
            <!-- upvote-button -->
            <form method="POST" action="{% url 'teacher_forum_read' current_post.id %}" >
                {% csrf_token %}
                <input type="hidden" value="{{ comment.id }}" name="hidden_comment_id" />
                <input type="submit" value="&#9650;" name="teacher_forum_comment_upvote_submit" />
            </form>
            <!-- downvote-button -->
            <form method="POST" action="{% url 'teacher_forum_read' current_post.id %}" >
                {% csrf_token %}
                <input type="hidden" value="{{ comment.id }}" name="hidden_comment_id" />
                <input type="submit" value="&#9660;" name="teacher_forum_comment_downvote_submit" />
            </form>
          </div>
          <div id="comment-cell-right-part">
            <div id="comment-cell-right-part-top-part">
              <p><a href="{% url 'teacher_profile_other_user_overview' current_post.teacher.user.username %}">@{{ comment.teacher.user.username }}</a> {{ comment.karma }} points | {{ comment.creation_date }}</p>
            </div>
            <div id="comment-cell-right-part-bottom-part">
              <p>
                  {{ comment.content|linebreaks }}
              </p>
            </div>
          </div>
        </div>
        <!-- /cell -->
      {% endfor %}

    </div>
</div>

<!-- hidden delete form -->
<div id="hidden-delete-form-background-greying"></div>
<div id="hidden-delete-form">
  <h2>Are you sure?</h2>
  <form method="POST" action="{% url 'teacher_forum_read' current_post.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete" name="teacher_forum_delete_post_submit" />
  </form>
  <a href="">Cancel</a>
</div>

<script>
  hidden_delete_open_button = document.getElementById("hidden_delete_open_button");
  hidden_delete_form = document.getElementById("hidden-delete-form");
  hidden_delete_form_background_greying = document.getElementById("hidden-delete-form-background-greying");

  // onclick open the hidden delete form
  hidden_delete_open_button.onclick = function (event) {
    event.preventDefault();
    hidden_delete_form_background_greying.style.display = "block";
    hidden_delete_form.style.display = "block"
  }
</script>

{% endblock %}
