{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_feedback/landing_page.css' %}" />
{% endblock %}

{% block content %}
{% with foo="foo" %}

<div id="feedback-container">

  <div id="feedback-header">
    <h1>Feedback</h1>
    <button id="open-create-panel-button"><span class="fa fa-plus"></span> Write Feedback</button>
  </div>

  {% for feedback in current_page_feedbacks %}
    <!-- feedback cell -->
    <div id="feedback-cell">
      <a href="{% url 'basic_feedback_read' feedback.id %}"><h1>{{ feedback.title }}</h1></a>
      <div id="feedback-cell-meta-info">

        {% if feedback.user.profile_photo %}
          <div id="feedbacker-profile-photo" style="background-image: url('{{ feedback.user.profile_photo.url }}');"></div>
        {% else %}
          <div id="feedbacker-profile-photo"></div>
        {% endif %}

        <p id="post-info"><a href="{% url 'other_user_profile_overview' feedback.user.username foo foo %}">{{ feedback.user.username }}</a> | {{ feedback.creation_date }}</p>
        <!-- count max: 300 char -->
        <p id="post-content">
            {{ feedback.content|truncatechars:300 }}<a href="{% url 'basic_feedback_read' feedback.id %}">... read more</a>
        </p>
      </div>
      <p id="feedback-views">{{ feedback.views }} views</p>
    </div>
    <!-- /cell -->
  {% endfor %}

  <div id="feedback-pagination">
    {% if current_page <= 0 %}
      <a href=""><span class="fa fa-arrow-left"></span></a>
      <a href="{% url 'basic_feedback_landing_page' next_page %}"><span class="fa fa-arrow-right"></span></a>
    {% elif current_page > 0%}
      <a href="{% url 'basic_feedback_landing_page' previous_page %}"><span class="fa fa-arrow-left"></span></a>
      <a href="{% url 'basic_feedback_landing_page' next_page %}"><span class="fa fa-arrow-right"></span></a>
    {% endif %}
  </div>
</div>


<!-- hidden feed back create panel -->
<div id="hidden-feedback-create-panel">
  <button id="close-create-panel-button"><span class="fa fa-close"></span></button>
  <h3>Give us a feedback</h3>

  {% if empty_input == True %}
    <script>alert("You cannot enter empty input.");</script>
  {% elif less_than_100_chars == True %}
    <script>alert("Your feedback cannot be less than 100 cahracters.");</script>
  {% endif %}


  {% with redirect_page="0" %}
  <form method="POST" action="{% url 'basic_feedback_landing_page' redirect_page %}">
      {% csrf_token %}
      <label>Title:</label>
      <input type="text" placeholder="Feedback Title" name="feedback_title" />
      <label>Your Feedback:</label>
      <textarea name="feedback_content" placeholder="Please be precise in your feedback ..."></textarea>
      <input type="submit" value="Post" id="feedback-create-button" name="basic_feedback_create_submit_btn" />
  </form>
  {% endwith %}
</div>

<script>

  let open_button = document.getElementById("open-create-panel-button");
  let close_button = document.getElementById("close-create-panel-button");
  let hidden_create_panel = document.getElementById("hidden-feedback-create-panel");

  open_button.onclick = function () {
    hidden_create_panel.style.display = "block";
  }

  close_button.onclick = function () {
    hidden_create_panel.style.display = "none";
  }

</script>

{% endwith %}
{% endblock %}
