{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_feedback/read.css' %}" />
{% endblock %}

{% block content %}

<!-- users feedback part -->
<div id="feedback-part">
  <h1>Eminevim'in Üyelerine Yaptığı Haksızlıklar</h1>
  <div id="feedback-part-meta-info">
    <div id="feedback-part-profile-photo"></div>
    <p id="meta-profile-info"><a href="">username</a> | 20 Jun, 2020</p>
    <p id="feedback-content">
        03.04.2019 tarihinde Eminevim'e giderek 100 kişilik 400.000TL'lik gruba
        %10 peşinat (40bin) ve 33.000 TL organizasyon ücreti ile çekilişli bir
        şekilde üye oldum. Üye numaram 1.169.331'dir. Sözleşme imzalanırken
        sistemden çıkma halinde sözleşmede yer alan iadelerin 6 ay sonra yapılacağı
        ve organizasyon bedelinin tamamen şirkete kalacağı ibaresini sorduğumda,
        Ankara/Yenimahalle şubesindeki temsilcim "o altı ay, ödemelerin o zamana
        kadar sarkabileceğini gösteriyor, her zaman altı ay değil o süreç ayrıca
        hastalık ve işten çıkarılma gibi mücbir sebepler nedeniyle sistemden
        ayrılırsanız organizasyon bedelinizin tamamı başka durumlarda da şirketin
        inisiyatifiyle bir kısmı iade edilir" diyerek bir iyi niyet umudu verdi.
        Ancak ne hikmetse riski benim alacağım zaman tamamen şirketin lehine
        yazılı bir kurala bağlanan durum, riski şirketin alacağı zaman sözlü ve
        net olmayan bir iyi niyet teminatıyla geçiştirilmiş oldu.
    </p>
    <div id="feedback-bottom-info-part">
        <p><span class="fa fa-eye"></span> 26000 views</p>
        <p><span class="fa fa-comment"></span> 45 comments</p>
        <a href="" id="feedback-edit-open-panel-button">EDIT</a>
        <a href="" id="feedback-delte-open-panel-button">DELETE</a>
    </div>
  </div>
</div>

<!-- dev answer part -->
<div id="dev-answer-part">
    <h1>Answer</h1>
    <div id="dev-answer-meta-info">
      <p id="dev-answer-meta-profile-info"><span>Dev Team</span> | 20 Jun, 2020</p>
      <p id="dev-answer-content">
          03.04.2019 tarihinde Eminevim'e giderek 100 kişilik 400.000TL'lik gruba
          %10 peşinat (40bin) ve 33.000 TL organizasyon ücreti ile çekilişli bir
          şekilde üye oldum. Üye numaram 1.169.331'dir. Sözleşme imzalanırken
          sistemden çıkma halinde sözleşmede yer alan iadelerin 6 ay sonra yapılacağı
          ve organizasyon bedelinin tamamen şirkete kalacağı ibaresini sorduğumda,
          Ankara/Yenimahalle şubesindeki temsilcim "o altı ay, ödemelerin o zamana
          kadar sarkabileceğini gösteriyor, her zaman altı ay değil o süreç ayrıca
          hastalık ve işten çıkarılma gibi mücbir sebepler nedeniyle sistemden
          ayrılırsanız organizasyon bedelinizin tamamı başka durumlarda da şirketin
          inisiyatifiyle bir kısmı iade edilir" diyerek bir iyi niyet umudu verdi.
          Ancak ne hikmetse riski benim alacağım zaman tamamen şirketin lehine
          yazılı bir kurala bağlanan durum, riski şirketin alacağı zaman sözlü ve
          net olmayan bir iyi niyet teminatıyla geçiştirilmiş oldu.
      </p>
    </div>
</div>

<div id="commments-part">
  <!-- Make comment part -->
  <div id="create-comment-part">
    <form>
      <textarea placeholder="Comment ..."></textarea>
      <input type="submit" value="Comment" />
    </form>
  </div>

  <!-- Comments part -->
  <div id="all-comments">

    <!-- comment cell -->
    <div id="comment-cell">
      <div id="comment-meta-info">
        <div id="comment-profile-photo"></div>
        <a href="">username</a>
        <p>Jun 20, 2020</p>
      </div>
      <p id="comment-content">
          Çok geçmiş olsun diye biliyorum. Aynı durumu maalesef Birevim de
          bende yaşadım. Mecburiyetten sistemden çıkış talep edince yaklaşık
          16.000 TL mi kestiler.
      </p>
      <div id="comment-bottom-operations">
        <form>
            <input type="hidden" />
            <input type="submit" value="&#x25B2; upvote" />
        </form>
        <button id="reply-panel-open-button" class="reply-panel-open-button-class"><span class="fa fa-comment"></span> reply</button>
        <p id="comment-upvotes">
          54 upvotes
        </p>
      </div>

      <!-- hidden reply form -->
      <div id="hidden-reply-form">
        <form>
            <textarea placeholder="Type in your reply ..."></textarea>
            <input type="submit" value="reply" />
        </form>
      </div>
      <script>
        let open_close_button = document.getElementById("reply-panel-open-button");

        open_close_button.onclick = function () {
          let hidden_reply_panel = document.getElementById("hidden-reply-form");

          if (hidden_reply_panel.style.display == "block") {
            hidden_reply_panel.style.display = "none";
          } else {
            hidden_reply_panel.style.display = "block";
          }
        }
      </script>

      <!-- hidden replies list -->
      <button id="hidden-replies-open-button"> View 6 replies <span class="fa fa-caret-down"></span></button>
      <div id="comment-replies-container">
        <div id="comment-reply-cell">
          <div id="comment-reply-cell-meta-info">
            <a href="">@username</a>
            <p>20 Jun, 2020</p>
          </div>
          <p id="comment-reply-cell-content">
            Sözleşmeyi Okutmuyorlarki. Hemen imza. Çay ikramı su ikramı bir dahaki giďiste neredeyse niye geldiniz diyecekler
          </p>
        </div>
      </div>

      <script>
        let open_replies_button = document.getElementById("hidden-replies-open-button");

        open_replies_button.onclick = function () {
          let hidden_all_replies = document.getElementById("comment-replies-container");

          if (hidden_all_replies.style.display == "block") {
            hidden_all_replies.style.display = "none";
          } else {
            hidden_all_replies.style.display = "block";
          }
        }
      </script>

    </div>
    <!-- /cell -->

  </div>
</div>


<!-- EDIT PANEL -->
<div id="hidden-feedback-update-panel">
  <button id="close-update-panel-button"><span class="fa fa-close"></span></button>
  <h3>Edit your feedback</h3>

  <form>
      <label>Title:</label>
      <input type="text" placeholder="Feedback type" value="..." />
      <label>Your Feedback:</label>
      <textarea placeholder="Please be precise">...</textarea>
      <input type="submit" value="Edit" id="feedback-update-button" />
  </form>
</div>

<script>
  let hidden_feedback_update_panel = document.getElementById("hidden-feedback-update-panel");
  let close_update_panel_button = document.getElementById("close-update-panel-button");
  let open_update_panel_button = document.getElementById("feedback-edit-open-panel-button");

  open_update_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_update_panel.style.display = "block";
  }

  close_update_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_update_panel.style.display = "none";
  }

</script>


<!-- DELETE PANEL -->
<div id="hidden-feedback-delete-background"></div>
<div id="hidden-feedback-delete-panel">
    <h1>Are you sure?</h1>

    <form>
        <input type="submit" value="Delete"/>
    </form>
    <button id="close_feedback_delete_panel_button" >Cancel</button>
</div>

<script>
  let hidden_feedback_delete_panel = document.getElementById("hidden-feedback-delete-panel");
  let hidden_feedback_delete_background = document.getElementById("hidden-feedback-delete-background");
  let open_feedback_delete_panel_button = document.getElementById("feedback-delte-open-panel-button");
  let close_feedback_delete_panel_button = document.getElementById("close_feedback_delete_panel_button");

  open_feedback_delete_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_delete_panel.style.display = "block";
    hidden_feedback_delete_background.style.display = "block";
  }

  close_feedback_delete_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_delete_panel.style.display = "none";
    hidden_feedback_delete_background.style.display = "none";
  }

</script>

{% endblock %}
