{% extends 'main_base.html' %}
{% load static %}
{% load filters %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_feedback/read.css' %}" />
{% endblock %}

{% block content %}

<!-- users feedback part -->
<div id="feedback-part">
  <h1>{{ current_feedback.title }}</h1>
  <div id="feedback-part-meta-info">

    {% if current_feedback.user.profile_photo %}
      <div id="feedback-part-profile-photo" style="background-image: url('{{ current_feedback.user.profile_photo.url }}');"></div>
    {% else %}
      <div id="feedback-part-profile-photo"></div>
    {% endif %}

    <p id="meta-profile-info"><a href="{% url 'other_user_profile_overview' current_feedback.user.username %}">{{ current_feedback.user.username }}</a> | {{ current_feedback.creation_date }}</p>
    <p id="feedback-content">
        {{ current_feedback.content|linebreaks }}
    </p>
    <div id="feedback-bottom-info-part">
        <p><span class="fa fa-eye"></span> {{ current_feedback.views }} views</p>
        <p><span class="fa fa-comment"></span> {{ comments_amount }} comments</p>
        {% if current_feedback.user == current_basic_user_profile %}
          <a href="" id="feedback-edit-open-panel-button">EDIT</a>
          <a href="" id="feedback-delte-open-panel-button">DELETE</a>
        {% endif %}
    </div>
  </div>
</div>

{% for answer in current_feedback_dev_answers %}
  <!-- dev answer part -->
  <div id="dev-answer-part">
      <h1>Answer</h1>
      <div id="dev-answer-meta-info">
        <p id="dev-answer-meta-profile-info"><span>Dev Team</span> | {{ answer.creation_date }}</p>
        <p id="dev-answer-content">
            {{ answer.content|linebreaks }}
        </p>
      </div>
  </div>
{% endfor %}

<div id="commments-part">
  <!-- Make comment part -->
  <div id="create-comment-part">

    {% if empty_comment == True %}
      <p style="color:red; margin: 0px 0px;">You cannot enter an empty input.</p>
    {% endif %}

    <form method="POST" action="{% url 'basic_feedback_read' current_feedback.id %}">
      {% csrf_token %}
      <textarea placeholder="Comment ..." name="content"></textarea>
      <input type="submit" value="Comment" name="basic_feedback_comment_submit_btn" />
    </form>
  </div>

  <!-- Comments part -->
  <div id="all-comments">

    {% for comment in current_feedback_comments %}
      <!-- comment cell -->
      <div id="comment-cell">
        <div id="comment-meta-info">
          <div id="comment-profile-photo"></div>
          <a href="">{{ comment.comment_owner.user.username }}</a>
          <p>{{ comment.creation_date }}</p>
        </div>
        <p id="comment-content">
            {{ comment.content|linebreaks }}
        </p>
        <div id="comment-bottom-operations">
          <form action="{% url 'basic_feedback_read' current_feedback.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{ comment.id }}" name="hidden_comment_id" />
              <input type="submit" value="&#x25B2; upvote" name="basic_feedback_comment_upvote_btn" />
          </form>
          <button id="reply-panel-open-button" class="reply-panel-open-button-class"><span class="fa fa-comment"></span> reply</button>
          <p id="comment-upvotes">
            {{ comment.karma }} upvotes
          </p>
        </div>

        <!-- hidden reply form -->
        <div id="hidden-reply-form" class="hidden-reply-panels">
          <form action="{% url 'basic_feedback_read' current_feedback.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{ comment.id }}" name="hidden_comment_id" />
              <textarea placeholder="Type in your reply ..." name="reply_content"></textarea>
              <input type="submit" value="reply" name="basic_feedback_comment_reply_submit_btn" />
          </form>
        </div>

        <!-- hidden replies list -->
        {% if comment_replies_amount|get_key_value:comment.id >  0 %}
          <button id="hidden-replies-open-button" class="hidden-replies-open-buttons"> View {{ comment_replies_amount|get_key_value:comment.id  }} replies <span class="fa fa-caret-down"></span></button>
        {% endif %}
        <div id="comment-replies-container" class="replies-listing-panels">
          {% for reply in comment_replies|get_key_value:comment.id %}
            <div id="comment-reply-cell">
              <div id="comment-reply-cell-meta-info">
                <a href="{% url 'other_user_profile_overview' reply.reply_owner.user.username %}">@{{ reply.reply_owner.user.username }}</a>
                <p>{{ reply.creation_date }}</p>
              </div>
              <p id="comment-reply-cell-content">
                {{ reply.content|linebreaks }}
              </p>
            </div>
          {% endfor %}
        </div>

      </div>
      <!-- /cell -->
    {% endfor %}

    <script>
      let hidden_replies_open_buttons = document.getElementsByClassName("hidden-replies-open-buttons");
      let replies_listing_panels = document.getElementsByClassName("replies-listing-panels");

      const open_replies = function(i, event) {
        //replies_listing_panels[i].style.display = "block";

        if (replies_listing_panels[i].style.display == "block") {
          replies_listing_panels[i].style.display = "none";
        } else {
            replies_listing_panels[i].style.display = "block";
        }
      }

      for (var i=0; i < hidden_replies_open_buttons.length; i++) {
        hidden_replies_open_buttons[i].addEventListener("click", open_replies.bind(null, i));
      }

    </script>


    <script>
      let open_close_buttons = document.getElementsByClassName("reply-panel-open-button-class");
      let hidden_reply_panels = document.getElementsByClassName("hidden-reply-panels");

      const handle = function(i, event) {
        //hidden_reply_panels[i].style.display = "block";

        if (hidden_reply_panels[i].style.display == "block") {
          hidden_reply_panels[i].style.display = "none";
        } else {
            hidden_reply_panels[i].style.display = "block";
        }
      }

      for (var i=0; i < open_close_buttons.length; i++) {
        open_close_buttons[i].addEventListener("click", handle.bind(null, i));
      }

    </script>

    <!-- comment cell
    <div id="comment-cell">
      <div id="comment-meta-info">
        <div id="comment-profile-photo"></div>
        <a href="">username</a>
        <p>Jun 20, 2020</p>
      </div>
      <p id="comment-content">
          Çok geçmiş olsun diye biliyorum. Aynı durumu maalesef Birevim de
          bende yaşadım. Mecburiyetten sistemden çıkış talep edince yaklaşık
          16.000 TL mi kestiler.
      </p>
      <div id="comment-bottom-operations">
        <form>
            <input type="hidden" />
            <input type="submit" value="&#x25B2; upvote" />
        </form>
        <button id="reply-panel-open-button" class="reply-panel-open-button-class"><span class="fa fa-comment"></span> reply</button>
        <p id="comment-upvotes">
          54 upvotes
        </p>
      </div>
      -->

      <!-- hidden reply form
      <div id="hidden-reply-form">
        <form>
            <textarea placeholder="Type in your reply ..."></textarea>
            <input type="submit" value="reply" />
        </form>
      </div>
      <script>
        let open_close_button = document.getElementById("reply-panel-open-button");

        open_close_button.onclick = function () {
          let hidden_reply_panel = document.getElementById("hidden-reply-form");

          if (hidden_reply_panel.style.display == "block") {
            hidden_reply_panel.style.display = "none";
          } else {
            hidden_reply_panel.style.display = "block";
          }
        }
      </script>
      -->

      <!-- hidden replies list
      <button id="hidden-replies-open-button"> View 6 replies <span class="fa fa-caret-down"></span></button>
      <div id="comment-replies-container">
        <div id="comment-reply-cell">
          <div id="comment-reply-cell-meta-info">
            <a href="">@username</a>
            <p>20 Jun, 2020</p>
          </div>
          <p id="comment-reply-cell-content">
            Sözleşmeyi Okutmuyorlarki. Hemen imza. Çay ikramı su ikramı bir dahaki giďiste neredeyse niye geldiniz diyecekler
          </p>
        </div>
      </div>

      <script>
        let open_replies_button = document.getElementById("hidden-replies-open-button");

        open_replies_button.onclick = function () {
          let hidden_all_replies = document.getElementById("comment-replies-container");

          if (hidden_all_replies.style.display == "block") {
            hidden_all_replies.style.display = "none";
          } else {
            hidden_all_replies.style.display = "block";
          }
        }
      </script>


    </div>
    <!-- /cell -->

  </div>
</div>


<!-- EDIT PANEL -->
<div id="hidden-feedback-update-panel">
  <button id="close-update-panel-button"><span class="fa fa-close"></span></button>
  <h3>Edit your feedback</h3>

  {% if empty_update_input == True %}
    <script>alert("You cannot enter any empty input!");</script>
  {% elif less_than_100_chars == True %}
    <script>alert("Your feedback cannot be less than 100 characters!");</script>
  {% endif %}

  <form action="{% url 'basic_feedback_read' current_feedback.id %}" method="POST">
      {% csrf_token %}
      <label>Title:</label>
      <input type="text" placeholder="Feedback Title" value="{{ current_feedback.title }}" name="update_title" />
      <label>Your Feedback:</label>
      <textarea placeholder="Please be precise about your feedback ..." name="update_content">{{ current_feedback.content }}</textarea>
      <input type="submit" value="Edit" id="feedback-update-button" name="basic_feedback_update_submit_btn" />
  </form>
</div>

<script>
  let hidden_feedback_update_panel = document.getElementById("hidden-feedback-update-panel");
  let close_update_panel_button = document.getElementById("close-update-panel-button");
  let open_update_panel_button = document.getElementById("feedback-edit-open-panel-button");

  open_update_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_update_panel.style.display = "block";
  }

  close_update_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_update_panel.style.display = "none";
  }

</script>


<!-- DELETE PANEL -->
<div id="hidden-feedback-delete-background"></div>
<div id="hidden-feedback-delete-panel">
    <h1>Are you sure?</h1>

    <form method="POST" action="{% url 'basic_feedback_read' current_feedback.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete" name="basic_feedback_delete_submit_btn"/>
    </form>
    <button id="close_feedback_delete_panel_button" >Cancel</button>
</div>

<script>
  let hidden_feedback_delete_panel = document.getElementById("hidden-feedback-delete-panel");
  let hidden_feedback_delete_background = document.getElementById("hidden-feedback-delete-background");
  let open_feedback_delete_panel_button = document.getElementById("feedback-delte-open-panel-button");
  let close_feedback_delete_panel_button = document.getElementById("close_feedback_delete_panel_button");

  open_feedback_delete_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_delete_panel.style.display = "block";
    hidden_feedback_delete_background.style.display = "block";
  }

  close_feedback_delete_panel_button.onclick = function(event) {
    event.preventDefault();
    hidden_feedback_delete_panel.style.display = "none";
    hidden_feedback_delete_background.style.display = "none";
  }

</script>

{% endblock %}
