{% extends 'main_base.html' %}
{% load static %}
{% load filters %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic_language_explore/language_explore.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
{% endblock %}

{% block content %}

<!-- langauge explore top banner -->
<div id="language-explore-top-banner">
  <p>I speak :</p>
  <form>
      <select>
        <option>English</option>
        <option>Spanish</option>
        <option>French</option>
        <option>German</option>
        <option>Italian</option>
        <option>Japanese</option>
        <option>Chinese</option>
        <option>Russian</option>
        <option>Korean</option>
        <option>Portuguese</option>
        <option>Arabic</option>
        <option>Dutch</option>
        <option>Swedish</option>
        <option>Norwegian</option>
        <option>Turkish</option>
        <option>Polish</option>
        <option>Irish</option>
        <option>Greek</option>
        <option>Hebrew</option>
        <option>Danish</option>
        <option>Hindi</option>
        <option>Czech</option>
        <option>Esperanto</option>
        <option>Ukranian</option>
        <option>Welsh</option>
        <option>Vietnamese</option>
        <option>Hungarian</option>
        <option>Swahili</option>
        <option>Romanian</option>
        <option>Indonesian</option>
        <option>Finnish</option>
        <option>Bengali</option>
      </select>
  </form>
</div>

<!-- language cells -->
<div id="language-cells-container">

  <!-- cell -->
  <a href="">
    <div id="langauge-cell">
      <div id="flag"></div>
      <h3>Spanish</h3>
      <p><span class="fa fa-user"></span> 25 Learners</p>
    </div>
  </a>
  <!-- /cell -->

</div>

<div id="horizontal-line"></div>

<div id="contribute_box">
  <div id="contribute-box-left-side">
    <!-- i do not have internet right
     now do not forget to make this black and white -->
    <div id="contribute-banner-image" style="  background-image: url('{% static 'images/basic_language_explore/library.jpg' %}');"></div>
  </div>
  <div id="contribute-box-right-side">
    <h1>Become a Teacher!</h1>
    <p>If you want to help our community by building new language courses, consider becoming a teacher!</p>
    <a href="{% url 'teacher_public_landing_page' %}">Contribute to a Course</a>
  </div>
</div>

{% endblock %}
