{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/create.css' %}" />
{% endblock %}

{% block content %}

<!-- forum create container -->
<div id="forum-container">
  <!-- left part -->
  <div id="forum-container-left-part">
    <!-- greeting banner -->

    {% if empty_input == True %}
      <div id="warning-box">
        <h3>cannot enter empty input!</h3>
      </div>
    {% endif %}

    <!-- create post -->
    <form id="create-post-form" method="POST" action="{% url 'forum_update' current_post.id %}">
      {% csrf_token %}

      {% if current_post.post_title %}
        <input type="text" placeholder="Post Title" name="post_title" value="{{ current_post.post_title }}" />
      {% else %}
        <input type="text" placeholder="Post Title" name="post_title"/>
      {% endif %}

      <p>
          Post language: <span>{{ current_post.language.name|title }}</span>
      </p>

      {% if current_post.content %}
        <textarea placeholder="Type your post content" name="post_content">{{ current_post.content }}</textarea>
      {% else %}
        <textarea placeholder="Type your post content" name="post_content"></textarea>
      {% endif %}
      <input type="submit" value="Update" id="create-post-submit-btn" name="update_post_submit_btn" />
    </form>

  </div><!-- /left part container -->

</div>
{% endblock %}
