{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/read.css' %}" />
{% endblock %}

{% block content %}

<!-- forum create container -->
<div id="forum-container">
  <!-- left part -->
  <div id="forum-container-left-part">
    <!-- greeting banner -->
    <div id="greetins-banner">
      <h1>Welcome to the Domingo Community!</h1>
    </div>

    <!-- post content part -->
    <div id="post-content-container">
      <div id="post-content-left-part">
        {% if current_post.user_profile.profile_photo %}
          <div id="post-content-profile-photo" style="background-image: url('{{ current_post.user_profile.profile_photo.url }}');"></div>
        {% else %}
          <div id="post-content-profile-photo" style="background-image: url('');"></div>
        {% endif %}
      </div>
      <div id="post-content-right-part">
        <h1>{{ current_post.post_title }}</h1>
        <a href="{% url 'other_user_profile_overview' current_post.user_profile.username %}">@{{ current_post.user_profile.username }}</a>
        {% if current_post.language.flag %}
          <div id="post-content-right-part-flag" style="background-image: url('{{ current_post.language.flag.url }}');"></div>
        {% else %}
          <div id="post-content-right-part-flag" style="background-image: url('');"></div>
        {% endif %}
        <p>
            {{ current_post.content|linebreaks }}
        </p>
        <div id="post-content-right-part-operations">
          <!-- post points -->
          <p><b>{{ current_post.karma }}</b></p>
          <!-- upvote -->
          <form method="POST" action="{% url 'forum_read' current_post.id %}" >
              {% csrf_token %}
              <label for="post-content-upvote"><span class="fa fa-angle-up" ></span></label>
              <input type="submit" value="submit" id="post-content-upvote" name="post_content_upvote" />
          </form>
          <!-- downvote -->
          <form method="POST" action="{% url 'forum_read' current_post.id %}">
              {% csrf_token %}
              <label for="post-content-downvote"><span class="fa fa-angle-down" ></span></label>
              <input type="submit" value="submit" id="post-content-downvote" name="post_content_downvote"/>
          </form>
          <!-- date -->
          <p>{{ current_post.creation_date }}</p>

          {% if current_user_is_owner == True %}
            <!-- edit button -->
            <a href="{% url 'forum_update' current_post.id %}">EDIT</a>
            <!-- delete button -->
            <button id="hidden_delete_open_button">DELETE</button>
          {% endif %}
        </div>
      </div>


    </div>

    <!-- hidden delete form -->
    <div id="hidden-delete-form-background-greying"></div>
    <div id="hidden-delete-form">
      <h2>Are you sure?</h2>
      <form method="POST" action="{% url 'forum_read' current_post.id %}">
          {% csrf_token %}
          <input type="submit" value="Delete" name="delete_submit_btn" />
      </form>
      <a href="">Cancel</a>
    </div>

    <script>
      hidden_delete_open_button = document.getElementById("hidden_delete_open_button");
      hidden_delete_form = document.getElementById("hidden-delete-form");
      hidden_delete_form_background_greying = document.getElementById("hidden-delete-form-background-greying");

      // onclick open the hidden delete form
      hidden_delete_open_button.onclick = function () {
        hidden_delete_form_background_greying.style.display = "block";
        hidden_delete_form.style.display = "block"
      }
    </script>

    <div id="comments-container">
      <div id="comments-container-create-comment">
        <!-- make comment form -->
        <form method="POST" action="{% url 'forum_read' current_post.id %}">
          {% csrf_token %}
          <textarea placeholder="Leave a comment ..." name="comment_content"></textarea>
          <input type="submit" value="POST" name="comment_submit_btn"/>
        </form>
      </div>

      {% for comment in current_post_comments_sorted %}
        <!-- comment listsings -->
        <div id="comment-cell">
          <div id="comment-cell-left-part">
            <form method="POST" action="{% url 'forum_read' current_post.id %}">
              {% csrf_token %}
              <input type="hidden" value="{{ comment.id }}" name="hidden_comment_id" />
              <input type="submit" value="&#9650;" id="comment-upvote" name="comment_upvote_submit_btn" />
            </form>

            <form method="POST" action="{% url 'forum_read' current_post.id %}" >
              {% csrf_token %}
              <input type="hidden" value="{{ comment.id }}" name="hidden_comment_id" />
              <input type="submit" value="&#9660" id="comment-downvote" name="comment_downvote_submit_btn" />
            </form>
          </div>
          <div id="comment-cell-right-part">
            <div id="comment-info">
              <a href="{% url 'other_user_profile_overview' comment.user_profile.username %}">@{{ comment.user_profile.username }}</a>
              <p>{{ comment.karma }} points | {{ comment.creation_date }}</p>
            </div>
            <p>
              {{ comment.content|linebreaks }}
            </p>
          </div>
        </div><!-- /comment cell -->
      {% endfor %}

    </div>


  </div><!-- /left part container -->

  <!-- right part -->
  <div id="forum-container-right-part">
    <!-- forum right language categories -->
    {% with redirected_page="0" %}
      {% for language in all_languages %}
        <div id="category-cell">
          <a href="{% url 'forum_category_page' language.name redirected_page %}">
            {% if language.flag %}
              <div id="category-flag" style="background-image: url('{{ language.flag.url }}');"></div>
            {% else %}
              <div id="category-flag" style="background-image: url('');"></div>
            {% endif %}
            {{ language.name|title }}
          </a>
        </div>
      {% endfor %}
    {% endwith %}

  </div><!-- /right part -->

</div>


<!-- footer -->
<div id="footer">
  <div id="footer-grid-part-1">
    <p>Created by - <a target="_blank" href="https://twitter.com/Demir99antay" id="red-span">Demir Antay</a></p>
  </div >
  <div id="footer-grid-part-2">
    <p>About</p>
    <div id="grid-links">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'about_community_rules' %}">Community Rules</a>
      <a href="{% url 'about_terms' %}">Terms and Agreements</a>
      <a href="{% url 'about_privacy' %}">Privacy Policy</a>
    </div>
  </div>
  <div id="footer-grid-part-3">
    <p>Social</p>
    <div id="grid-links">
      <a href="https://twitter.com/getdomingo" target="_blank">Twitter</a>
      <a href="https://www.reddit.com/r/DomingoApp/" target="_blank">Reddit</a>
    </div>
  </div>
</div>

{% endblock %}
