{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/create.css' %}" />
{% endblock %}

{% block content %}

<!-- forum create container -->
<div id="forum-container">
  <!-- left part -->
  <div id="forum-container-left-part">
    <!-- greeting banner -->
    <div id="greetins-banner">
      <h1>Welcome to the Lingoo Community!</h1>
    </div>

    <!-- create post -->
    <form id="create-post-form">
      <input type="text" placeholder="Post Title" />
      <select name="">
        <option value="spanish">spanish</option>
      </select>
      <textarea placeholder="Type your post content"></textarea>
      <input type="submit" value="Update" id="create-post-submit-btn" />
    </form>

  </div><!-- /left part container -->

  <!-- right part -->
  <div id="forum-container-right-part">
    <!-- forum right language categories -->
    <div id="category-cell">
      <a href="">
        <div id="category-flag"></div>
         Spanish
      </a>
    </div>

    <div id="category-cell">
      <a href="">
        <div id="category-flag"></div>
         Spanish
      </a>
    </div>

    <div id="category-cell">
      <a href="">
        <div id="category-flag"></div>
         Spanish
      </a>
    </div>

  </div><!-- /right part -->

</div>


<!-- footer -->
<div id="footer">
  <div id="footer-grid-part-1">
    <p>Created by - <a target="_blank" href="https://twitter.com/Demir99antay" id="red-span">Demir Antay</a></p>
  </div >
  <div id="footer-grid-part-2">
    <p>About</p>
    <div id="grid-links">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'about_community_rules' %}">Community Rules</a>
      <a href="{% url 'about_terms' %}">Terms and Agreements</a>
      <a href="{% url 'about_privacy' %}">Privacy Policy</a>
    </div>
  </div>
  <div id="footer-grid-part-3">
    <p>Social</p>
    <div id="grid-links">
      <a href="https://twitter.com/lingooapp" target="_blank">Twitter</a>
      <a href="https://www.reddit.com/r/lingooapp/" target="_blank">Reddit</a>
    </div>
  </div>
</div>

{% endblock %}
