{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/create.css' %}" />
{% endblock %}

{% block content %}

<!-- forum create container -->
<div id="forum-container">
  <!-- left part -->
  <div id="forum-container-left-part">
    <!-- greeting banner -->
    <div id="greetins-banner">
      <h1>Welcome to the Domingo Community!</h1>
    </div>

    {% if empty_input == True %}
      <div id="warning-box">
        <h3>cannot enter empty input!</h3>
      </div>
    {% endif %}

    <!-- create post -->
    <form id="create-post-form" method="POST" action="{% url 'forum_create' %}">
      {% csrf_token %}
      <input type="text" placeholder="Post Title" name="post_title" />
      <select name="post_language">
        {% for language in all_languages %}
          <option value="{{ language.name }}">{{ language.name }}</option>
        {% endfor %}
      </select>
      <textarea placeholder="Type your post content" name="post_content" ></textarea>
      <input type="submit" value="Post" id="create-post-submit-btn" name="forum_create_post_btn" />
    </form>

  </div><!-- /left part container -->

  <!-- right part -->
  <div id="forum-container-right-part">
    <!-- forum right language categories -->

    {% with redirected_page="0" %}
      {% for language in all_languages %}
        <div id="category-cell">
          <a href="{% url 'forum_category_page' language.name redirected_page %}">
            {% if language.flag %}
              <div id="category-flag" style="background-image: url('{{ language.flag.url }}');"></div>
            {% else %}
              <div id="category-flag" style="background-image: url('');"></div>
            {% endif %}
            {{ language.name|title }}
          </a>
        </div>
      {% endfor %}
    {% endwith %}

  </div><!-- /right part -->

</div>


<!-- footer -->
<div id="footer">
  <div id="footer-grid-part-1">
    <p>Created by - <a target="_blank" href="https://twitter.com/Demir99antay" id="red-span">Demir Antay</a></p>
  </div >
  <div id="footer-grid-part-2">
    <p>About</p>
    <div id="grid-links">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'about_community_rules' %}">Community Rules</a>
      <a href="{% url 'about_terms' %}">Terms and Agreements</a>
      <a href="{% url 'about_privacy' %}">Privacy Policy</a>
    </div>
  </div>
  <div id="footer-grid-part-3">
    <p>Social</p>
    <div id="grid-links">
      <a href="https://twitter.com/getdomingo" target="_blank">Twitter</a>
      <a href="https://www.reddit.com/r/DomingoApp/" target="_blank">Reddit</a>
    </div>
  </div>
</div>

{% endblock %}
