{% extends 'main_base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/forum/create.css' %}" />
{% endblock %}

{% block content %}

<!-- forum create container -->
<div id="forum-container">
  <!-- left part -->
  <div id="forum-container-left-part">

    {% if empty_input == True %}
      <div id="warning-box">
        <h3>cannot enter empty input!</h3>
      </div>
    {% endif %}

    <!-- create post -->
    <form id="create-post-form" method="POST" action="{% url 'forum_create' %}">
      {% csrf_token %}
      <input type="text" placeholder="Post Title" name="post_title" />
      <select name="post_language">
        {% for language in all_languages %}
          <option value="{{ language.name }}">{{ language.name }}</option>
        {% endfor %}
      </select>
      <textarea placeholder="Type your post content" name="post_content" ></textarea>
      <input type="submit" value="Post" id="create-post-submit-btn" name="forum_create_post_btn" />
    </form>

  </div><!-- /left part container -->

</div>

{% endblock %}
